[2014-08-18 15:48] uskudnik opened #1 "Plugin putting one record at a time to Kinesis"
I am experimenting with putting our data to Kinesis with fluentd but as it seems this plug-in is putting one record at a time to the kinesis and waiting for the response, basically making it useless for high traffic data volumes.

Nothing too fancy in my `fluentd.conf`:

[code]

Basically, in a 5 minute interval roughly 800 records are put into stream, making throughput something like 3 records pe

[2014-10-28 10:01] #1 closed, assigned to nobody

[2014-11-15 06:07] rajpannu opened #4 "Parallelism and throughput question"
I setup fluent to ingest nginx logs into Kinesis using this plugin and I am trying to configure it to keep up with the throughput.  I have around 30-40 log events per second, which seems reasonable.

I have the Kinesis stream set for 2 shards, which should be enough and the Amazon monitoring does not show any issues (write capacity and read capacity usage are reading near zero).

I setup two EC2 x

[2014-12-05 06:45] imaifactory opened #6 "Adding support for putting multiple records."
Amazon has updated Kinesis API for putting multiple records at once. I will update the plugin so it can handle that. To avoid duplicate effort, I have made this issue.

[2014-12-10 07:42] czchen opened #8 "Data is based64 encoded twice"
The data put to Kinesis seem to be base64 encoded twice. When using <https://github.com/awslabs/amazon-kinesis-client-python> to get data from Kinesis stream put by this plugin, I need to use the following python code to get my JSON data correctly.
[code]
If I use <https://github.com/boto/boto> to put data into Kinesis, the following code is sufficient to get my JSON data correctly.
[code]
The fol

[2014-12-23 18:09] danielgollas opened #12 "error_class="TypeError" error="can't convert StringIO into String" when sending record to Kinesis"
Hi,

I am running into an issue where there is a error_class="TypeError" error="can't convert StringIO into String" with the following trace:
[code]

I added an extra log message at the top printing the data_to_put variable in the write(chunk) function of out_kinesis.rb

The problem was also described by someone else here: http://stackoverflow.com/questions/27578440/td-agent-is-not-not-forwarding-

[2015-01-01 05:35] czchen commented on #8
@mstoops I use the following code to workaround this issue. Maybe you can do the same.

[code]

[2015-01-02 14:09] mstoops commented on #8
@czchen, than you very much. It is a decent work-around until the project is updated.

[2015-01-05 22:56] danielgollas commented on #12
Hi! Any updates on this issue? Is anybody else running this version successfully?

[2015-01-06 15:22] imaifactory commented on #12
Hi @danielgollas , sorry for my late response.
Can you update aws-sdk-core? Recently the line we are seeing issue in SDK has been updated.
It might help.
https://github.com/aws/aws-sdk-core-ruby/pull/180

However I could not re-produce your issue with my environment. I am putting records to Amazon Kinesis successfully with td-agent. My config is here.
[code]

Can you share your config for td-agent

[2015-01-06 15:22] imaifactory commented on #4
Closing due to no update.

[2015-01-06 15:22] #4 closed

[2015-01-09 22:50] imaifactory commented on #8
Thank for your waiting. We have removed redundant base64 encoding in a new release.

https://github.com/awslabs/aws-fluent-plugin-kinesis/commit/d5f38521b17c9b2b7b0ab09c61a2cf781a216d0f#diff-b19e4edd33848b9b655b051dd552cb0cL86

[2015-01-09 22:50] #8 closed

[2015-01-09 22:51] imaifactory commented on #6
Published.
https://github.com/awslabs/aws-fluent-plugin-kinesis/releases/tag/v0.3.0

[2015-01-09 22:51] #6 closed

[2015-01-10 01:33] mstoops commented on #8
Thank you!

[2015-01-16 09:07] czchen opened #13 "Cannot handle record in UTF-8 format"
When the record in UTF-8 format, the plugin will raise `Encoding::UndefinedConversionError`. The following is td-agent log.

[code]

[2015-01-19 06:50] imaifactory commented on #13
Hi @czchen thanks for reporting. I will look into this.  Can you tell  your use case a bit more?

[2015-01-19 11:49] czchen commented on #13
Hi @imaifactory

The following is part of our current `td-agent.conf`. The filter before `aws-fluent-plugin-kinesis` is `exec_filter`. The script `filter.py` is a python2 script, and it might output unicode character in `\uxxxx` format. The data might contain illegal UTF-8 sequence.

[code]

I am not familiar with ruby, but the patch [0] can solve the issue. Not sure if this is the correct way to

[2015-01-20 04:03] imaifactory commented on #13
Thank you for sharing your use case in detail and workaround. I will talk this with my team.

[2015-01-20 08:12] spsusbilla opened #15 "Fluentd Conflict"
We have recently encountered this error:

"Unable to activate fluent-plugin-kinesis-0.3.0, because fluentd-0.12.2 conflicts with fluentd (< 0.11, >= 0.10.53) (Gem::LoadError),"

is there any reason why the plugin is only compatible to fluentd versions up to 0.11 only? Please advise.

Thanks.

[2015-01-20 22:29] imaifactory commented on #15
Hi @spsusbilla

Thank you for reporting.
Fluentd version0.12 is a kind of major update from 0.10 so we do not support v0.12. However, after clarification, we will support v0.12. Please wait our next update. However if you in a hurry, you can modify gemspec file to support Fluentd v0.12 and try to use.

Thanks

[2015-01-20 22:33] imaifactory commented on #13
@czchen

I have talked with my team about workaround for this, including using Yajl.
We have to make sure not to destroy existing users so I have to do some clarification work. It may take time a bit more.

Please let me clarify that your python code will emit JSON like this?

[code]

[2015-01-21 06:29] czchen commented on #13
Yes, our `filter.py` would emit emit something like `{"some_key":"\uxxx"}`.

I think you can add a configuration to set how to handle invalid unicode. The default value can be the same as current one (raise an exception).

[2015-01-21 07:53] spsusbilla commented on #15
Thanks for the prompt response @imaifactory.

What I did was routed the data to an instance with a lower version of Fluentd, but will try to test it as you suggested. Either way, we'll be patiently waiting for the next update.

Thanks.

[2015-01-21 22:11] tomasiew commented on #13
Reproducible with:

[code]

(UndefinedConversionError is emitted in the fluentd log)

I suspect not everyone will want to ignore these errors, so making this a configuration as @czchen suggested might be a good idea.

[2015-01-23 01:14] imaifactory commented on #13
Thanks guys. We will work on this and yes, will do care those who do not want ignore errors.

[2015-02-16 13:42] az3 commented on #13
I also experienced this, only when using `detach_process 0` in the config file (w/ td-agent). If I use `detach_process 1` (or more), records are parsed perfectly. Just to let you know... Thanks.

[2015-03-19 16:59] edjames opened #16 "Publish to RubyGems"
Any idea when you plan on making this available via RubyGems?

[2015-03-25 16:48] edjames commented on #16
Bump. It would be very helpful if someone could please give some kind of timeline as to if/when this will be available via rubygems.
It makes server installation a real pain having to follow a multi-step, manual process.

Many thanks.

[2015-03-27 10:29] imaifactory commented on #16
Thank you. I will try on this.

[2015-03-27 15:27] edjames commented on #16
Thanks. As an aside, I found that instead of running the installation steps
on the server, it's easier to build the gem locally and add the gem file to
my Chef recipe as a static file. I then only have to run a single command
to install the plugin on my server.

On Friday, March 27, 2015, Yuta Imai <notifications@github.com> wrote:

--
------------------------------
Ed James
ed.james.email@gmail.c

[2015-04-01 03:04] imaifactory commented on #15
@spsusbilla Sorry about late update. We now support fluentd version 0.12 https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/master/fluent-plugin-kinesis.gemspec#L37

Thanks.

[2015-04-01 03:04] #15 closed

[2015-04-01 03:28] spsusbilla commented on #15
@imaifactory yay! Thanks for this.

[2015-04-15 11:56] imaifactory commented on #16
Hi @edjames thank you for waiting.
I am still working on this, however it may take time.
Thank you for understanding and giving us request.

[2015-05-05 12:26] spsusbilla opened #17 "File Buffering"
Any plans of adding this feature in the future?

[2015-05-08 10:45] imaifactory commented on #17
Hello @spsusbilla
This plugin is [based on BufferedPlugin](https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/master/lib/fluent/plugin/out_kinesis.rb#L21).
I believe you can use file buffer now.
http://docs.fluentd.org/articles/buffer-plugin-overview#buffer-structure

[2015-05-08 13:52] spsusbilla commented on #17
Oh, I'm sorry @imaifactory, I'm an idiot. I really missed this one. Somehow I kept remembering that I tested this before and it says it isn't used, that's why I'm not implementing this in our deployment.

Thanks and sorry for the trouble.

[2015-05-08 13:52] #17 closed

[2015-05-16 08:42] imaifactory commented on #16
@edjames Thank you for patience. It is live now. https://rubygems.org/gems/fluent-plugin-kinesis

[2015-05-16 08:42] #16 closed

[2015-06-02 14:17] jhappoldt commented on #13
Thanks for looking at this problem @imaifactory.  Do you know of a workaround for this problem that will allow us to send UTF-8 encoded data into Kinesis while the fix is developed?

Thanks!

[2015-06-03 10:28] tamtam180 commented on #13
I got this error with below config, too.
I think tail-plugin's buffer use `force_encoding('ASCII-8BIT')`,
So `record` in kinesis-plugin's format function has ASCII-8BIT string.

[code]

My workaround is use to `Yajl.dump(record)` instead of `record.to_json`.
How's that sound?

[code]

[code]

[2015-06-04 05:14] imaifactory commented on #13
@jhappoldt @tamtam180
Thanks for bumping this. I agree with @tamtam180 , we should use `Yajl.Dump`.
Do you guys think we will have any trade off by switching to this?

[2015-06-04 13:26] tamtam180 commented on #13
I'm sorry I have no idea, but it works for me. (now load testing)
(Maybe, Date/Time class in record of encoding might not be compatible.)

[2015-06-11 23:24] imaifactory commented on #13
@tamtam180

Thank you for your clarification and waiting.
As we talked in offline, I think we should implement it as an option.
I will work on this.

[2015-06-24 23:53] imaifactory commented on #12
Closing the issue. If anyone is still working with this, please open a new issue.
I believe we can achieve higher throughput easily because we now support PutRecords API.
https://github.com/awslabs/aws-fluent-plugin-kinesis/releases/tag/v0.3.0

[2015-06-24 23:53] #12 closed

[2015-07-03 03:55] cj74 opened #24 "Support for batching messages into a single kinesis record"
Hi

It would be cool to be able to batch a number of log messages per kinesis put record in some way, since kinesis supports up to a 1MB payload and a single log message can easy be <1kb. So it seems wasteful on high throughput systems to use 1 kinesis record per log message.

If you create such a feature, it could be provided by a config option, and then be limited on number of log messages and/o

[2015-07-07 01:13] imaifactory commented on #24
@cj74

Hello, thanks for your idea. Currently we are using [PutRecords](http://docs.aws.amazon.com/kinesis/latest/APIReference/API_PutRecords.html) API which allows us putting up to 500 records at 1 API call without client-side batching records.

As you mentioned, actually we can client-side batching up to 1MB, which may allow us beyond 500 records. However, this will introduces complexity into co

[2015-07-07 01:21] imaifactory commented on #13
Thanks to everyone here, we have pushed the fixed version!
https://rubygems.org/gems/fluent-plugin-kinesis/versions/0.3.4

[2015-07-07 01:21] #13 closed

[2015-07-12 04:42] cj74 commented on #24
@imaifactory Thanks for the response & nice work so far

I was thinking that a format like this would optimise the shard throughput, given the kinesis shard limits -  1,000 per sec per shard putrecord limit for Kinesis (& 1MB/sec)

But, on a second thought, if a single log message is ~1kb, then your going to hit the MB/sec limit regardless of the putrecord limit.

So thinking about it, batching (r

[2015-07-14 12:29] imaifactory commented on #24
@cj74

Hmm, makes sense, thanks.

Regarding compression: I think it actually reduce payload size/network throughput, however it's difficult to optimise the batched record size to Shard Limitation(1MB/sec). For example, whether batched 1500 records of 1KB records fit under 1MB or not, depends on its contents. Of course, it reduce your network throughput.

Do you still want compression feature on th

[2015-07-29 07:01] Jackyjjc opened #25 "v0.3.5 plugin is not published to ruby gem"
Could you please publish the gem to ruby-gem please :) we are currently downloading a binary every time which is not very nice. Thank you!

[2015-08-01 00:22] imaifactory commented on #25
@Jackyjjc Sorry for kept you waited, I'll work on this, thanks!

[2015-08-01 00:41] Jackyjjc commented on #25
@imaifactory thanks you!

[2015-08-01 01:40] Jackyjjc opened #26 "Potential memory leak in the plugin"
Hey, I have been using the kinesis plugin to ship logs in production. However, we found that the memory usage of fluentd keep going up even though I'm not using memory buffering (using buffer_type file). This leads to the fluentd get killed by OOM killer. I'm not 100% sure what causes the leak, do you have any insights? I'm using ruby2.2 and kinesis plugin 0.3.5

[2015-08-01 02:42] cj74 commented on #24
@imaifactory Yep, This feature would be very good for me.

I think it makes sense to separate those 2 configuration options.
I also think they would have sub-options. Specifically, the batch size and the queue timeout (and/or size limit) options for if `batch` is on: I.e. to flush the queue before it reaches the set batch size, if it is the case that it hasn't been flushed in X seconds, or the que

[2015-08-03 12:41] imaifactory commented on #26
@Jackyjjc Thanks for reporting this. At this point of time, I'm not sure so I will look into this.

[2015-08-04 01:23] imaifactory commented on #25
We have published, thanks for waiting!
https://rubygems.org/gems/fluent-plugin-kinesis/versions/0.3.5

[2015-08-04 01:23] #25 closed

[2015-08-14 19:11] jhappoldt commented on #26
We're also researching a memory leak in this plugin.  Has anyone found anything on this subject?  We'll update if we find the cause but any guidance would be helpful.

[2015-08-16 23:33] imaifactory commented on #26
@jhappoldt Thanks for reporting this. At this point of time, I did not reproduce it. Can you elaborate your situation? fluentd/td-agent config, plugin version, ruby version, throughput, velocity of memory leaking and any information would be helpful. Thanks.

[2015-08-19 10:30] jtblin opened #27 "Using KMS encrypted secret key"
We have the kinesis stream that we are writing to in a different account than the clients, and given that the aws-sdk doesn't support using the full ARN for the stream name, we have to distribute access and secret keys instead of IAM roles which is less than ideal. Would you be open to a feature that allow to pass a KMS encrypted secret key using a different variable name e.g. `kms_aws_sec_key` as

[2015-08-20 05:08] imaifactory commented on #26
Hmm.. I have run the plugin for 3 days with the configuration below, however I could not reproduce memory leak.

[code]

[2015-08-20 05:13] imaifactory commented on #27
@jtblin Thanks for your comment. Let me think about this.

[2015-08-21 09:54] francesco-russo opened #28 "Unclear error messages being logged: could it be more detailed?"
Hi there,
we recently have observed a relatively high number of stack-traces as the following one on our fluent-kinesis agents:

[code]
We have see this happening around the same time other errors, most likely related to a DNS issue, occurred. Here is that other stack-trace:

[code]
It would be nice from an end-user perspective to have a better sense of why the agent gave up.

Thanks in advance!

[2015-08-21 15:48] imaifactory commented on #28
@francesco-russo

Hello, thanks for bringing up this.

The error `Aws::Kinesis::Errors::InternalFailure` looks [500 error from Amazon Kinesis](http://docs.aws.amazon.com/kinesis/latest/APIReference/CommonErrors.html). Is this recursively happening? If so, please kindly [open a support case](https://console.aws.amazon.com/support/) or post it to our [forum](https://forums.aws.amazon.com/forum.jspa?

[2015-08-21 16:32] imaifactory commented on #27
@jtblin  Thank you for waiting.

I have thought about the idea you suggested. Even if we use `kms_aws_sec_key`, we have to [decrypt](http://docs.aws.amazon.com/kms/latest/APIReference/API_Decrypt.html) it with properly delegated IAM user/role, and stored the decrypted plain secret key in the process. It means secret key can be leaked if we put some debug method into the code.

Another idea is to u

[2015-08-21 17:04] imaifactory commented on #24
@cj74 Sorry for long lag.

Thank you for your suggestion about options. OK, it makes sense. I will put this to my queue.

[2015-08-24 02:02] jtblin commented on #27
@imaifactory yes you need to decrypt the keys but that can be done using an IAM role as it can be encrypted in the same account as the client. The secret key could still be leaked if someone modify the code to display it so it is not entirely bullet proof but it's OK in my opinion. Our use case is that these keys are deployed on hundreds of instances for internal services and I'm not looking for a

[2015-08-24 08:37] francesco-russo commented on #28
Hi @imaifactory
thanks for the prompt reply.

It is not happening constantly (the InternalFailure), but thanks for clarifying the nature of that error.
I'll check and see what happened at that time with the Kinesis team.

As far as the second error is concerned, that was my conclusion too, thanks for confirming.

[2015-08-24 23:38] imaifactory commented on #27
@jtblin

Yes. AssumeRole support to provide credential valid for 1 hour at maximum. So we need to refresh credentials continuously in the plugin. But I think this is reasonable and right way.

In this case, the configuration would be like this

[code]

I have a question for you.
http://docs.aws.amazon.com/IAM/latest/UserGuide/roles-walkthrough-crossacct.html
We can find the steps in the web page a

[2015-08-25 04:26] imaifactory commented on #28
@francesco-russo

Thanks for confirmation.
Let me close this issue. Please open or re-open issue if any.

[2015-08-25 04:26] #28 closed

[2015-08-26 10:08] jtblin commented on #27
Yes that would be totally reasonable. And it looks like the ruby aws-sdk already handles auto refreshing the token so should be fairly simple: https://github.com/aws/aws-sdk-ruby/issues/520.

[2015-08-31 01:23] #26 closed

[2015-08-31 01:24] Jackyjjc commented on #26
Thanks for the helps. I can confirm that the leak is most likely in the in_forward plugin instead of this plugin.

[2015-08-31 02:11] imaifactory commented on #26
Thanks for confirmation!

[2015-09-01 00:47] imaifactory commented on #27
I will leave this open until RubyGems will be released.

[2015-09-07 02:25] wryun opened #30 "0.3.6 is not on rubygems"
https://rubygems.org/gems/fluent-plugin-kinesis/versions/

Would be great it is was - thanks!

[2015-09-07 02:43] imaifactory commented on #30
@wryun
I'm working on this. However it may take few more days. Thanks for waiting.

[2015-09-07 19:11] yusufcangurkan opened #31 "Can not install plugin"
I install plugin for td-agent as you wrote on documentation but when i run "td-agent -c file.conf" it says, the plugin kinesis could not find. What am i missing?

[2015-09-07 23:45] imaifactory commented on #31
@yusufcangurkan

It looks like you did not install. Can you check it with `fluent-gem list installed`?
If `fluent-plugin-kinesis` does not appear on the list, it is not installed properly.
If it appears, please provide full stack trace for your runtime.

Thanks!

[2015-09-08 09:07] yusufcangurkan commented on #31
@imaifactory

Thanks for reply. When i run that command:

fluent-gem list installed

*** LOCAL GEMS ***

It does not print any plugin as you see but i use and installed bunch of plugins before. Also, i install this plugin with commands you put on readme file and it says successfully installed. However, when i check plugins in fluentd's gem folder this plugin does not exist.

[2015-09-08 14:30] imaifactory commented on #31
Thanks! It looks like your to-agent bundled ruby does not have any plugins.

How did you installed the plugins previously? Did you try that way?
2015年9月8日(火) 18:07 Yusuf Can Gürkan <notifications@github.com>:

[2015-09-08 14:40] yusufcangurkan commented on #31
Hello,

I installed previous plugins on fluentd-ui and i did not install any plugin with another way. I think this is the problem, fluentd-gem does not see the same place that i use for td-agent may be?

[2015-09-08 14:46] imaifactory commented on #31
It looks like so. I have experience, but could you try install the plugin
in that way? We are providing the plugin via RubyGems as other plugins do,
it might work.

2015年9月8日(火) 23:40 Yusuf Can Gürkan <notifications@github.com>:

[2015-09-08 14:50] yusufcangurkan commented on #31
In what way ? I already tried to install with "fluentd-gem install ..." for a couple of times. It says it was installed successfully but td-agent doesnt see it.

[2015-09-08 14:58] imaifactory commented on #31
Ah forgive me about previous post. Could you try in fluentd-hi?
2015年9月8日(火) 23:50 Yusuf Can Gürkan <notifications@github.com>:

[2015-09-08 15:18] yusufcangurkan commented on #31
I can not try it with fluentd-ui because this plugin is not listed on its plugin list. That's why i tried to install it manually but could not manage it.

[2015-09-09 01:49] wryun commented on #30
Looks like it's there - thanks :+1:

[2015-09-09 01:49] #30 closed

[2015-09-09 06:30] imaifactory commented on #27
Thank you for waiting. We have released.
https://rubygems.org/gems/fluent-plugin-kinesis/versions/0.3.6

[2015-09-09 06:30] #27 closed

[2015-09-09 06:30] imaifactory commented on #30
Thanks!

[2015-09-09 06:31] imaifactory commented on #31
OK, I will look into it.

[2015-09-09 16:32] imaifactory commented on #31
@yusufcangurkan

Please try `sudo /usr/sbin/td-agent-gem install fluent-plugin-kinesis`.

[2015-09-09 23:01] jtblin commented on #27
Thanks @imaifactory :+1:

[2015-10-03 05:34] wryun opened #32 "Emits entire record on error"
There are a couple of situations in this plugin where the record data is logged on failure. If the fluentd logs are also sent to the kinesis stream, this can cause problems, since the reason the record failed might be to do with the record itself (i.e. too large) and an even larger record will be generated.

Thus an endless loop of 'failed' records ensues, each one progressively larger.

Perhaps t

[2015-10-03 05:47] wryun opened #33 "Consider removing kinesis connection from 'start'"
If kinesis is for some reason inaccessible when this plugin starts, the whole fluentd process crashes (exceptions thrown in start aren't handled, it seems).

In my opinion this is not ideal behaviour, both because there might be other output sources that should keep functioning in the absence of kinesis, AND if kinesis returns fluentd should have been buffering in the meanwhile.

Consider, for ins

[2015-10-05 02:33] cj74 commented on #24
Hey @imaifactory, hope you are good, any news on how this feature is going?

Thanks

[2015-10-06 00:59] wryun commented on #32
Or maybe there could be an option to disable output on errors from single log lines (it's always problematic (?) ) and instead output an aggregate error logline from each chunk.

[2015-10-07 18:28] nlawson opened #34 "error_class=Encoding::UndefinedConversionError error="\"\\xC2\" from ASCII-8BIT to UTF-8""
Hello,

Im having an issue only when I'm using the kinsis plugin with my logs,  I'm messages in my logs " error="\"\\xC2\" from ASCII-8BIT to UTF-8"

[code]
ruby 2.2.3p173 (2015-08-18 revision 51636) [x86_64-linux]
aws-sdk-core (2.1.28)
bigdecimal (1.2.6)
cool.io (1.4.1)
fluent-plugin-kinesis (0.3.6)
fluentd (0.12.16)
http_parser.rb (0.6.0)
io-console (0.4.3)
jmespath (1.1.3)
json (1.8.1)
minitest

[2015-10-08 00:16] imaifactory commented on #34
@nlawson

Hi, at this point of time, I'm not sure this error is from in_tail plugin or out_kinesis plugin. Can you try [stdout Output Plugin](http://docs.fluentd.org/articles/out_stdout) instead of kinesis plugin, to address where the problem is.

Also please try using [use_yajl](https://github.com/awslabs/aws-fluent-plugin-kinesis#use_yajl) for kinesis plugin.

If problem is not addressed with ab

[2015-10-08 00:18] nlawson commented on #34
I did try the std out plugin, and the error did not occur. so I'm sure it's something with the kinesis plugin., but ill try the use_yajl

[2015-10-08 00:21] imaifactory commented on #33
@wryun

Thanks for your idea. I understand your situation. In my opinion, I think we should leave it as is, because if we cannot ensure connection with Kinesis Stream at initialization, we cannot guarantee even if Kinesis Stream exists or not. Please refer to [S3 plugin](https://github.com/fluent/fluent-plugin-s3/blob/master/lib/fluent/plugin/out_s3.rb#L177)

I know in some case, Kinesis does not

[2015-10-08 00:29] imaifactory commented on #32
@wryun

Thanks for bringing up this. The plugin and Kinesis Stream now allow up to 1MB for each record(https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/master/lib/fluent/plugin/out_kinesis.rb#L31), so I don't think size of each single log line makes problem. However I should look into.

In parallel, if you are not using the latest version of the plugin, can you update? The limit size has

[2015-10-08 00:34] imaifactory commented on #24
@cj74

Sorry for keeping you waited. Unfortunately I don't have update on this. If you are in a hurry, is it possible for you to send PR?

Also, I should inform everyone in a separate thread though, I want to tell you that the primary owner of this project has been handing over now. I will make a issue to inform when it is settled.

Thank you.

[2015-10-08 04:34] wryun commented on #33
But say kinesis is really unreachable (this happened to us because of a bad network configuration). Don't we still want fluentd to buffer and send logs to other places?

(maybe this is more a problem with fluentd's handling of exception in 'start'...)

[2015-10-08 04:34] wryun commented on #33
(it's also hard to detect failed starts in this situation in upstart, because it takes a long time to crash)

[2015-10-08 04:35] wryun commented on #34
I have also seen this.

[2015-10-08 04:36] wryun commented on #32
We are using the latest version... believe it or not, this happened to us on a >1mb record :) (we can't control our users easily!)

[2015-10-08 17:14] imaifactory commented on #33
OK, so how about disabling it as configuration option?

[2015-10-08 17:30] imaifactory commented on #32
hmm... I don't want this plugin to trim data, so shortening or summarising log?
The log emitting you are facing problem is here?
https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/master/lib/fluent/plugin/out_kinesis.rb#L127

[2015-10-08 17:46] wryun commented on #32
Sorry, yes, that's what I meant (error logline should be trimmed or summarised). Definitely should fail on logline.

Yes, that is the problem. But I also worry about any 1-to-1 log emission, since it means failures will roll on indefinitely unless you take care to ship the fluentd internal log to a separate output (i.e. line fails, generates 1st error logline, that error logline fails, etc.). I gu

[2015-10-08 17:48] wryun commented on #33
That sounds like a great idea. Or even just document this as the failure behaviour (it surprised me).

[2015-10-08 21:44] nlawson commented on #34
@imaifactory Thanks!, this seems to addressed my issues, how if i can get our dev's to quit logging messages larger than 200kb in size (facepalm).....

[2015-10-08 21:44] #34 closed

[2015-10-09 15:28] imaifactory commented on #33
@wryun

OK! I will do this in next week.

[2015-10-09 15:31] imaifactory commented on #32
@wryun

Thanks for following up! Understood your concern. Next week, I will do some log summarising first.

[2015-10-14 22:38] cj74 commented on #24
Hey @imaifactory
I haven't done ruby before however I can take a look.

Actually, now that Amazon have released Kinesis Firehose, support for this would actually trump my requirement for the gzip/batching features, because all I am doing is pushing to S3 (maybe other people would still find gzip/batching useful though). Kinesis Firehose should also be easier to implement in the project.
What do yo

[2015-10-15 06:43] imaifactory commented on #24
@cj74

Based on your use case, I would opt for Kinesis Firehose because with it, you do not have to deploy consumer application and you do not have to worry about they are operating normally. So, if configuration capability for compression and chunking of Kinesis Firehose satisfies you, why not use Firehose.

[2015-10-15 07:15] cj74 commented on #24
@imaifactory now we just need firehose support in aws-fluent-plugin-kinesis, then!

[2015-10-15 09:11] imaifactory commented on #24
@cj74

Use this! The plugin below is developed by @winebarrel, who is also greatly contributing to this plugin!
https://github.com/winebarrel/fluent-plugin-kinesis-firehose

[2015-10-18 18:44] imaifactory commented on #33
I will do this tonight.

[2015-10-19 07:17] imaifactory commented on #33
Here is the change.
https://github.com/awslabs/aws-fluent-plugin-kinesis/pull/35

[2015-10-19 07:18] imaifactory commented on #32
Also I will try this in next day.

[2015-10-19 07:19] imaifactory commented on #33
I have left Amazon last week, so I need PR from this time.

[2015-10-22 23:36] rashok-rmn opened #37 "Support Gzip compression method for kinesis message payloads"

[2015-10-22 23:39] #37 closed

[2015-10-22 23:39] rahul007ashok opened #38 "Support Gzip compression method for kinesis message payloads"

[2015-10-22 23:53] rahul007ashok commented on #24
I added Gzip support for Fluent plugin kinesis. Here is a pull request for this: https://github.com/awslabs/aws-fluent-plugin-kinesis/pull/39

[2015-10-27 10:32] jtblin opened #40 "No implicit conversion of String into Integer error loop when record not in json"
We are getting the following error:

error="no implicit conversion of String into Integer" plugin_id="object:3fb566013c1c"
2015-10-21 15:14:33 +0000 [warn]: /usr/local/bundle/gems/fluent-plugin-kinesis-0.3.6/lib/fluent/plugin/out_kinesis.rb:124:in `[]'
2015-10-21 15:14:33 +0000 [warn]: /usr/local/bundle/gems/fluent-plugin-kinesis-0.3.6/lib/fluent/plugin/out_kinesis.rb:124:in `block in write'
2015-

[2015-10-28 14:41] riywo commented on #31
@yusufcangurkan

I'm going to close this. If you have any update, feel free to re-open it.

[2015-10-28 14:41] #31 closed

[2015-10-28 14:48] riywo commented on #40
Hi @jtblin ,

Thank you for the report. Could you share the way to reproduce this?

[2015-10-28 14:56] riywo commented on #24
@cj74

I'm going to close this.

- For Amazon Kinesis Firehose, you can try @winebarrel 's plugin.
- For compression, see #39
- For batch, I think it should be integrated with Kinesis Producer Library (KPL) which has an attribute for aggregation.
    - http://docs.aws.amazon.com/kinesis/latest/dev/kinesis-kpl-concepts.html

[2015-10-28 14:56] #24 closed

[2015-10-30 01:45] jtblin commented on #40
We think this happened because the buffer got corrupted for some reason when the process crashed, when fluentd restarted it read the corrupted buffer and the plugin encountered the error above when it processed the corrupted buffer, so it is hard to provide a repro case for that as we didn't keep the corrupted buffer when that happened.

As the code excepts a hash, I think specifically testing for

[2015-10-30 09:01] riywo commented on #33
Added a new option by #35. Thank you for the PR, @imaifactory !

[2015-10-30 09:01] #33 closed

[2015-10-30 09:01] riywo commented on #38
Added zlib compression option by #39 . Thank you @rahul007ashok !

[2015-10-30 09:01] #38 closed

[2015-10-30 09:04] wryun commented on #33
Thanks very much, @imaifactory and @riywo  :)

[2015-10-30 09:04] imaifactory commented on #33
@riywo thanks for merging :)

[2015-11-05 02:21] wryun opened #42 "Should count as success if any records shipped (?)"
Consider this situation: shard is close to saturated. One fluentd node gets unlucky, and has to retry a few times (can happen just because of poor distribution). Because it's retrying, the next chunk to ship is much bigger (i.e. up to the capacity of put_records).

Now it has a bigger chunk, it's much more likely to fail to ship (more records, and more likely to hit capacity). Therefore it will ne

[2015-11-06 06:52] wryun opened #43 "KPL format aggregated logs"
Here is a quick hack of this project to do KPL format aggregated logs (wrote it as a drastic change, because format/emit end up being different again, there are already a lot of ifs for not much code, and aggregation was semi-rejected in #24 - nevertheless, maybe you want this as part of this library?)

https://github.com/atlassian/fluent-plugin-kinesis-aggregation

Reason:
https://github.com/atla

[2015-11-07 03:24] wryun commented on #42
(this is more of a problem in our use case because a single node always ships to the same shard - i.e. a single putrecords request, which can have 5mb, is guaranteed to run up against the 1mb/sec shard limit!)

[2015-11-09 06:50] riywo commented on #40
Got it. I'll send PR and merge it soon. Thanks!

[2015-11-09 07:23] riywo commented on #43
Hi @wryun ,

This is great. I'm gonna start to think about the next major version to support KPL format.

[2015-11-09 10:09] wryun commented on #43
Cool! The tricky thing about how I've implemented it is that - unlike a proper KPL producer - it doesn't support multiple partition keys. This suits our use case, but I'm not sure how appropriate it is for a general library, which may need the full KPL functionality.

[2015-11-10 20:28] wryun commented on #42
Actually, in some ways this is worse if you use random partition key. Because every PutRecords request now has all the possible shards covered, if you have any hot shard it will fail.

[2015-11-10 20:28] wryun commented on #42
(and then backoff)

[2015-11-15 22:58] wryun commented on #43
Further testing revealed that the use of non-google protobuf libraries caused excessive memory usage.

I've updated it to use google-protobuf, but that has a couple of unfortunate caveats. So, even further from upstreaming, I suspect :(

[2015-11-18 17:50] dgomesbr opened #44 "Can't push it from CentOS"
We installed the *td-agent* and configure it as:

[code]

After a few requests to the nginx we keep seeing these errors and no message is produced to the Kinesis stream.
[code]

The log format being pushed from nginx is:
[code]

and the *ruby --version* gives me ```ruby 1.9.3p551 (2014-11-13 revision 48407) [x86_64-linux]```

[2015-11-18 18:24] dgomesbr commented on #44
We just found the issue. The partition key should be a member of the json document. Is this documented anywhere?

[2015-11-18 18:24] #44 closed

[2015-12-02 15:58] comtef opened #45 "Metrics (buffer_queue_length and buffer_total_queued_size) not available with detached processes"
Fluentd metrics are useful to check for contention in output plugins buffers.
buffer_queue_length and buffer_total_queued_size can be checked against maximum values to ensure that no buffer chunk is about to be dropped.

When using detach_process, the metrics are no more available. Is it possible to agregate metrics for all detached processes?

Detaching processes may be the only way to ensure hig

[2015-12-13 23:34] wryun commented on #45
Depending on your use case, you could try https://github.com/atlassian/fluent-plugin-kinesis-aggregation . You would still have to have a single process, but you may find you get more throughput, particularly if you've been having issues with retries. If you do, I'd be interested in any feedback.

[2016-01-29 19:26] riywo commented on #43
Hi @wryun ,

I pushed v1.0 branch and it fully integrates with KPL binary. Could you try it if you have time?

[2016-01-30 01:03] wryun commented on #43
Ah, excellent! Really happy that you've found the time to work on this (and the KPL wrapper - is this going to be a separate lib?), though the code looks much more complex now :)

I'm probably not going to touch our logging in the near future, since it's finally working smoothly after we switched to use the aggregation plugin. I am curious about the resource usage of this, since it's something we'

[2016-01-30 01:41] riywo commented on #43
Great for your code. Yeah, KPL wrapper is much complex than I thought...

I'd like to close this issue because I support the aggregation format via KPL. If you want to merge your version into this repository, please send a PR.

[2016-01-30 01:41] #43 closed

[2016-01-30 01:49] riywo commented on #42
Basically, this plugin designed not losing any input data as much as possible using fluentd buffer system.

I think we can add an option to choose the strategy "at least once" (current) or "at most once" (your suggestion). So, I'll keep this issue open, but I don't start coding so far. For more throughput, KPL support by v1.0.0 would be a better way.

[2016-01-30 02:47] wryun commented on #42
I'm not suggesting that it should drop the records; I'm just suggesting it should be more aggressive with the retries. Say my backoff was 2 minutes, and I have 400 records to ship. With 0.4.0 (haven't checked latest), if 399 succeed, the plugin backs off for 4 minutes to ship the last record!

[2016-01-30 02:48] wryun commented on #42
(and there is no way to cap the maximum backoff like there is with the standard fluentd retry mechanism)

[2016-02-29 23:17] kzk opened #47 "Link to official documentation"
Hi @riywo,

I just wrote an official documentation for this plugin (http://docs.fluentd.org/articles/kinesis-stream). Can I ask you to add the link from this repository?

[2016-03-10 07:23] iamhasibrahman opened #48 "Http_proxy"
Can I use IP instead of DNS as our internet network doesn't allow name?

[2016-03-10 07:23] otaki-ryuta opened #49 "[1.0RC] kinesis_producer plugin causes an error on td-agent"
Kinesis_producer plugin causes an error on td-agent.
It looks like it is concerned with @kinesis_producer.credentials_refresh_delay.

- Ubuntu Server 14.04 Trusty
- td-agent 2.3.1

install instruction
[code]

full td-agent.log
[code]

[2016-03-11 15:43] riywo commented on #47
done! https://github.com/awslabs/aws-fluent-plugin-kinesis/commit/c84e5069d284169f8a86cabfbb4da1d29e44ec0e

[2016-03-11 15:43] #47 closed

[2016-03-11 17:03] riywo commented on #49
Hi @otaki-ryuta ,

Thank you for reporting. I assumed that `config_section` is instantiated if the section is not specified, but it is never happened.

At this moment, I just changed the section required so that you have to specify an empty section even if you don't want to specify any params in the section.

[code]

[2016-03-12 02:20] riywo commented on #48
Hi @iamhasibrahman ,

Did you try it and got some errors? If so, could you paste the errors?

[2016-03-12 03:07] iamhasibrahman commented on #48
Wow, you finally replied man!!!!! Not error. On the document it says http prxoy has to be in DNS format, which we don't support. I mean our internal networking doesn't allow resolving DNS host. So you are saying IP would work? Also, from source to proxy, data is sent via SSL?

[2016-03-13 06:20] riywo commented on #48
Although I didn't test it, it could be a general URL including IP address because it is just passed to AWS SDK and Net::Http. See http://ruby-doc.org/stdlib-2.3.0/libdoc/net/http/rdoc/Net/HTTP.html#method-c-new

For SSL, I think it is encrypted. See http://stackoverflow.com/questions/516323/https-connections-over-proxy-servers

If you have any error, please reopen this.

[2016-03-13 06:20] #48 closed

[2016-03-13 08:14] riywo commented on #49
Now, v1.0.0.rc5 does not require `kinesis_producer` section. You can use the config before.

[2016-03-13 08:14] #49 closed

[2016-03-13 09:39] iamhasibrahman commented on #48
I've one very key yet simple question - this part of code (connecting via proxy) is part of KPL or the code you had to write?

[2016-03-13 11:46] iamhasibrahman opened #50 "Http_proxy with password"
Please confirm that the below is the format to pass proxy that requires authorisation--

Http_proxy
http://username:password@111.1111.111.111:8080

[2016-03-13 14:07] riywo commented on #50
Yes, it is the general URI format.
https://en.wikipedia.org/wiki/Uniform_Resource_Identifier

[2016-03-13 14:07] #50 closed

[2016-03-13 14:12] riywo commented on #48
Are you asking about `kinesis_producer` of v1.0.0? In that case, there is no option called `http_proxy` because KPL doesn't support it.

If you ask about  v0.4.0, or `kinesis_streams` or `kinesis_firehose` of v1.0.0, it is a part of code in AWS SDK for Ruby using Net::HTTP in stdlib.

[2016-03-13 17:14] riywo commented on #40
Included in v1.0.0.

[2016-03-13 17:14] #40 closed

[2016-03-13 19:38] riywo commented on #32
v1.0.0 truncates error log message by 200 chars (will be configurable in later version).

[2016-03-13 20:01] jtblin commented on #40
Cool, thanks :+1:

[2016-03-13 21:05] iamhasibrahman commented on #48
I'm asking about your plugin - https://github.com/awslabs/aws-fluent-plugin-kinesis
It supports proxy, right? If not, Houston we got a huge problem !!

[2016-03-13 21:30] iamhasibrahman opened #51 "fluentd agent and plugin"
Hi,

Referring to your previous answer around supporting http_proxy.

There might be a confusion here, so let me clarify.

First, our assumption was was-fluent-plugin-kinesis is based on KPL, that's why we asked whether this http_proxy is part of KPL code.

Second, let me tell you how we think of deploying -

1. fluentd agent to collect data
2. and your plugin to send data to kinesis stream
3. And

[2016-03-14 00:53] riywo commented on #51
Sorry for the confusing documentation. I'm going to explain about your questions.

First, this plugin is originally based on AWS SDK for Ruby only because it was released before KPL launched. Second, AWS SDK for Ruby has `http_proxy` feature and this plugin supports that option. So, this plugin supports `http_proxy` like this in v0.4.0:

    @type kinesis
    http_proxy http://user:pass@host_or_ip

[2016-03-14 00:54] riywo commented on #48
See https://github.com/awslabs/aws-fluent-plugin-kinesis/issues/51

[2016-03-14 00:59] iamhasibrahman opened #52 "Urgent query on deploying the plugin without internet connection"
Thanks for your outstanding help in other queries.

I've got a question on deploying your plugin on source that has no internet connection ...

Let me describe the situation --- The source is in totally closed area so we need to download the td-agent and your plugin in a separate box, and then move those two to source. But your plugin requires other package such as this --

./fluent-gem install fl

[2016-03-14 01:03] iamhasibrahman commented on #51
this plugin is kinesis version - 0.4.0 ......KPL is 1.0 - which we can ignore for a moment. Kinesis_Stream plugin - is that something else you are designing or finished and available already?

On a different note, is your plugin supporting batch upload?

[2016-03-14 01:08] riywo commented on #51
v1.0.0 is available on [GitHub v1.0 branch of this repo](https://github.com/awslabs/aws-fluent-plugin-kinesis/tree/v1.0) and [rubygems prerelease](https://rubygems.org/gems/fluent-plugin-kinesis/versions/1.0.0.rc9). See also https://github.com/awslabs/aws-fluent-plugin-kinesis/pull/46 .

Both v0.4.0 and v1.0.0 support batch upload, called PutRecords API.

[2016-03-14 01:55] riywo commented on #52
Hi,

It is not related to only this plugin. The problem is a general question about fluentd, that is how to install plugin without internet. Please ask it to fluentd user ML. http://docs.fluentd.org/articles/mailing-list

You can also consider to use [Kinesis Agent](http://docs.aws.amazon.com/kinesis/latest/dev/writing-with-agents.html) to send logs to Amazon Kinesis Streams. It is built on Java s

[2016-03-14 01:55] #52 closed

[2016-03-14 01:55] #51 closed

[2016-03-14 02:14] iamhasibrahman commented on #52
Kinesis Agent as far as I know doesn't work on RHEL 5.3 (the OS source system)

[2016-03-14 02:31] iamhasibrahman commented on #52
I perhaps confused you with long e-mails. We were able to install fluentd agent (td-agent in fact) just fine. Here is what I did - Obviously, we just downloaded the agent on a machine that has internet and then move to the source.

But your plugin requires 3 gems ---

Fetching: jmespath-1.1.3.gem
 Fetching: aws-sdk-core-2.2.20.gem
 Fetching: fluent-plugin-kinesis-0.4.0.gem

Can we download them fr

[2016-03-14 10:00] riywo commented on #52
You can try this http://stackoverflow.com/a/9312332/2052892 .

I'm sorry but this repository is plugin only. If you have question about fluentd itself, you should ask it to the fluentd community like fluentd GitHub repository or the mailing list.

[2016-03-14 11:26] iamhasibrahman commented on #52
About fluentd - actually question was on deploying plugin... Not on fluentd. But anyway, you'd link that you shared is the approach I took ... Super helpful. Thanks a lot. Really appreciate. Hope to run it soon.  Will chat later.

[2016-03-15 01:39] riywo commented on #52
I think plugin deployment is a part of fluentd so that you can ask it to the community.

[2016-03-15 17:17] riywo commented on #42
For v1.0.0, I added three more parameters to handle this scenario. Also, I reduce the minimum sleep to about 0.3 s because AWS SDK for Ruby use 0.3 for scaling factor.

### reset_backoff_if_success
Boolean, default `true`. If enabled, when after retrying, the next retrying checks the number of succeeded records on the former batch request and reset exponential backoff if there is any success. Beca

[2016-03-15 17:17] #42 closed

[2016-03-15 17:19] #32 closed

[2016-03-15 19:00] riywo commented on #45
This is caused by fluentd itself. I've opend an issue on fluentd GitHub.

So far, it is hard to be fixed by this plugin...

[2016-03-16 08:22] iamhasibrahman opened #53 "SSL issue"
When we use proxy, this is what will happen, right?

Fluent-plugin-Kinesis is writing to our proxy in cleartext (no SSL) and then the proxy is sending it up to Kinesis via SSL, correct.

So we need to handle SSL from Proxy server to AWS Kinesis regional end point??

[2016-03-16 08:41] riywo commented on #53
No. Ruby stdlib Net::HTTP (which is used by AWS SDK for Ruby) uses CONNECT command to order the proxy to create TCP tunnel to remote SSL server. After that, all communication is encrypted. Please tcpdump packets to verify it.

https://en.wikipedia.org/wiki/HTTP_tunnel#HTTP_CONNECT_tunneling
https://github.com/ruby/ruby/blob/ec0198fd8cfee7ae499602235fcf3a9318f9b691/lib/net/http.rb#L911-L920

If you

[2016-03-16 08:41] #53 closed

[2016-03-16 10:56] iamhasibrahman commented on #53
This is extremely useful. Really appreciate it.

[2016-03-19 15:38] takipone commented on #49
Thanks! It works fine.

[2016-03-19 15:48] takipone opened #56 "KPL Records have same partition key"
I use `kinesis_producer` type and not set `partition_key`.
Not aggregated records have a random partition key, but aggregated records have same partition key "a".
Is this behavior correct?

Here are outputs of `aws kinesis get-records` (Excerpt)
[code]

[2016-03-20 00:56] riywo commented on #56
This is expected behavior. You have to deaggregate records with KCL, [deaggregation module](https://github.com/awslabs/kinesis-deaggregation), or by yourself. See [the aggregation specification](https://github.com/awslabs/amazon-kinesis-producer/blob/master/aggregation-format.md).

[2016-03-20 00:56] #56 closed

[2016-03-22 02:34] iamhasibrahman opened #57 "http_proxy error ..urgent help required"
HTTP proxy settings giving this error ..please help ..

2016-03-22 13:23:32 +1100 [warn]: temporarily failed to flush the buffer. next_retry=2016-03-22 13:23:48 +1100 error_class="Net::HTTPServerException" error="407 \"authenticationrequired\"" plugin_id="object:3f81117b0aa8"
  2016-03-22 13:23:32 +1100 [warn]: suppressed same stacktrace
2016-03-22 13:23:48 +1100 [warn]: temporarily failed to flus

[2016-03-22 03:13] riywo commented on #57
Your proxy says `407 "authenticationrequired"`. Is it required to add username and password for `http_proxy` parameter? Because your config seems no authentication.

[2016-03-22 03:15] iamhasibrahman commented on #57
Proxy requires authentication
And it's McAfee web gateway.

And we are passing the authorisation in this format

http://username:password@111.1111.111.111:8080

[2016-03-22 03:17] riywo commented on #57
Your config is below from your log:
`http_proxy http://172.17.100.181:9090`

Could you try that URL for your `http_proxy` parameter?

[2016-03-22 03:18] iamhasibrahman commented on #57
We could telnet etc.

[2016-03-22 03:22] riywo commented on #57
Please try this:

    http_proxy http://username:password@111.1111.111.111:8080

It is difficult to support more since it depends on your proxy behavior. This plugin uses Ruby stdlib Net::HTTP, so could you try to search or ask Ruby community to work Net::HTTP with McAfee web gateway?

[2016-03-22 06:12] iamhasibrahman commented on #57
Hey Riywo - You're right. This testing wasn't properly planned and I just realised that we should have Proxy admin standby to check the log. That way, we could have troubleshot it much better

[2016-03-22 06:38] #57 closed

[2016-03-27 06:38] chrono opened #58 "instance profile credentials expiring"
The plugin (I'm using `kinesis_producer`) does not seem fetch fresh tokens from the metadata service regularly.

[code]

The credentials seem to be fetched once at plugin startup in https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/master/lib/fluent/plugin/kinesis_helper/credentials.rb#L47. The name of the method `default_credentials_provider` is suggesting that it returns a provider, inst

[2016-03-27 06:44] riywo commented on #58
Hi @chrono ,

I'll look into this issue. KPL itself has `credentials_refresh_delay` option, so I think it should refresh credentials automatically. But I'll double check it.

[2016-03-27 06:59] riywo commented on #58
OK, I think it'll be a bug. I'll fix it.

[2016-03-28 08:58] iamhasibrahman opened #59 "deploy version 1.0 plugin on system without internet"
Hi All -

We're getting below error message when we try to download the plugin on a temp server ....idea is to move those gems on actual source that has no internet connection.

It worked with Version .4, but giving the below error message for version 1.0

Question - should I just grab active support manually or this could be something bigger than just simply grabbing a gem manually. Please advise

[2016-03-28 09:14] riywo commented on #59
Could you paste whole error log?

[2016-03-28 09:18] riywo commented on #59
Of course its dependency has been changed from 0.4 to 1.0, you should grub new dependencies if you have not done yet.

[2016-03-28 10:39] iamhasibrahman commented on #59
Yes, I'm aware that the dependency has changed.

And the purpose the below command is to get the new dependency --
td-agent-gem install --version '> 0.3.2 fluent-plugin-kinesis -i repo --no-rdoc --no-ri

And with the version -4.0, the above command is all that I needed to get all the gem. But now it's not working and it's providing the error. That's the only error message, don't have any other log

[2016-03-28 10:42] iamhasibrahman commented on #59
Sorry, the command was wrong -- typo. Here is the right one ---

td-agent-gem install fluent-plugin-kinesis -i repo --no-rdoc --no-ri

[2016-03-28 11:38] iamhasibrahman commented on #59
As a temporary solution, we switched back to older version as our production test deployment is not so far away.

Here is the command we used -

td-agent-gem install fluent-plugin-kinesis  -i repo --no-rdoc --no-ri -v "< 1"

[2016-03-28 11:55] iamhasibrahman commented on #59
I ran it again and I'm providing you the whole steps --

1. Download td-agent

curl -O http://packages.treasuredata.com.s3.amazonaws.com/2/redhat/5/i386/td-agent-2.2.1-0.el5.i386.rpm

2. install td-agent
rpm -ivh td-agent-2.2.1-0.el5.i386.rpm

3. Get fluent-output-plugin   -- look at the last line. It's trying to get beta version of active support and then failing...
[root@ip-172-31-6-190 download

[2016-03-28 11:56] iamhasibrahman commented on #59
Just published detail logs …

[2016-03-28 13:00] riywo commented on #59
Thank you for the information. It will be a bug of td-agent 2.2.1 and 2.3.0 since I could reproduce this on my machine.

I also tried the latest td-agent (2.3.1) and there is no error. So, could you try 2.3.1?

[2016-03-28 18:37] iamhasibrahman commented on #59
Does the td-agent version 2.3.1 available for RHEL 5.1?

[2016-03-28 20:22] iamhasibrahman opened #60 "cloudwatch"
Great to see there are heaps of cloud watch support.

Correct me if I'm wrong, they are only available for Producer option, not the kinesis_Stream type?

[2016-03-28 20:23] iamhasibrahman commented on #59
Final interim solution - we'll switch back to version .4 ..

td-agent-gem install fluent-plugin-kinesis -i repo --no-rdoc --no-ri -v "< 1"

[2016-03-28 23:35] riywo commented on #59
Of course you can use 0.4 but in the future there will be no update for v0.x. I recommend to update to v1.0.

[2016-03-28 23:36] riywo commented on #60
Correct.

[2016-03-28 23:36] #60 closed

[2016-03-29 00:39] iamhasibrahman opened #61 "proxy"
The format suggested for http_proxy didn't work.

So the below is not working -

http_proxy http://user:password@172.17.100.181:9090

This format seemed to work

http_proxy user:password@host:port

[2016-03-29 00:43] riywo commented on #61
Please attach the error output.

[2016-03-29 00:43] iamhasibrahman commented on #59
Below seemed to work, does that make sense --

------- This is the command history where fluentd installed successfully with td-agent version 2.1 (32 bit)

    curl -O http://packages.treasuredata.com.s3.amazonaws.com/2/redhat/5/i386/td-agent-2.2.1-0.el5.i386.rpm
    rpm -ivh td-agent-2.2.1-0.el5.i386.rpm

    td-agent-gem install activesupport  -i repo --no-rdoc --no-ri
    cd repo
    cd cache

[2016-03-29 05:09] iamhasibrahman commented on #61
Since it was working with the second format, don't have any logs...

[2016-03-29 06:36] riywo commented on #61
Is there any output when you tried http://user:password@172.17.100.181:9090?

[2016-03-29 06:47] riywo commented on #59
I'd like to keep this open until the root cause is investigated. I opened an issue on td-agent repo.

[2016-03-29 07:26] iamhasibrahman commented on #59
Just a note --
It's again acting strange --- download pre-release gem when I did TD-agent-gem .. If I manually download that, it works. But as you would agree, manually download individual gem is scary. 

--
{...Hasib +61 432 745 136)

On Mon, Mar 28, 2016 at 11:47 PM -0700, "Ryosuke IWANAGA" <notifications@github.com> wrote:

I'd like to keep this open until the root cause is investigated. I open

[2016-03-29 07:37] iamhasibrahman commented on #61
Check this out .. The SSL thing. 

I’ve explicitly specified a trusted certificate .pem in the VM: touch /etc/sysconfig/td-agent # This file is sourced by /bin/sh from /etc/init.d/td-agent# Options to pass to td-agentexport SSL_CERT_FILE=/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem Also commented out #TD_AGENT_OPTIONS="--use-v1-config" in /etc/init.d/td-agent No longer seeing SSL errors in th

[2016-03-29 08:39] riywo commented on #61
`user:password@172.17.100.181:9090` format is not http URI so that Ruby SDK doesn't use the proxy, which means the direct internet connection to Kinesis API.

You must `http://user:password@172.17.100.181:9090` format if you want to use http proxy.

[2016-03-29 09:07] riywo commented on #61
Ruby SDK sends messages below to your proxy, then starts the tunnel mode to communicate with Kinesis API.

https://github.com/ruby/ruby/blob/ec0198fd8cfee7ae499602235fcf3a9318f9b691/lib/net/http.rb#L912-L918
[code]

If your proxy doesn't support CONNECT method, it will fail. If you want to connect your proxy with your SSL cert at first, you can use `http_proxy https://user:pass@host:port` (note: h

[2016-03-29 20:48] riywo commented on #61
Close since I heard there is no issue now.

[2016-03-29 20:48] #61 closed

[2016-03-29 21:06] riywo commented on #59
As I thought, it is caused by old rubygems. If you update td-agent-gem before install, there is no error.

See https://github.com/treasure-data/omnibus-td-agent/issues/73

[code]

[2016-03-29 21:06] #59 closed

[2016-03-29 21:07] #58 closed

[2016-03-29 21:19] riywo commented on #58
Hi @chrono ,

I released v1.0.1 which fixes this problem. Please try this version. Thank you for reporting!

After confirming your situation is resolved, I'll yank v1.0.0 from rubygems since this is a huge bug.

[2016-03-29 22:08] iamhasibrahman commented on #59
:) :) Quite an irony for us...the reason being, our deployment involves source system without internet..not sure how I can update the gem on temp machine and then move to actual source without internet. I will take this matter with TD team. Thanks.

[2016-03-30 00:20] iamhasibrahman commented on #59
I found a way out of td-agent-gem version issue, and here is the solution. That said, working with TD team to ensure this is the only solution, or something better possible.

 ## ON MACHINE 1 (with internet)

        # download and install td-agent
        curl -O http://packages.treasuredata.com.s3.amazonaws.com/2/redhat/5/i386/td-agent-2.2.1-0.el5.i386.rpm
        rpm -ivh td-agent-2.2.1-0.el5.i

[2016-04-01 02:32] riywo opened #63 "More configuration for AssumeRole"
Current `assume_role_credentials` parameter section supports limited configuration for AssumeRole. For example, `aws_key_id` and `aws_sec_key` are not passed to STS client, or the duration is fixed.

It is better to have more flexibility for configuration of AssumeRole, but there is no issue reported so far. If there is any request for AssmeRole, please comment here.

[2016-04-01 08:19] josqu4red commented on #58
I had the same problem, but using `kinesis_streams` output.
No more ExpiredTokenExceptions since upgraded to 1.0.1 yesterday.
Thanks!

[2016-04-02 21:31] chrono commented on #58
Yup it has been working for me for the last few days on 1.0.1. So I can ditch my custom patched 1.0.0 now :)

[2016-04-02 21:32] chrono commented on #58
Thanks for the quick turnaround!

[2016-04-04 03:11] riywo commented on #58
@josqu4red @chrono

Great to hear from you! I'm so sorry for inconvenience. If you have any issue, feel free to submit an issue on this repository.

[2016-04-08 09:57] riywo opened #64 "Make http_proxy parameter secret"
Since this parameter can contain sensitive data, such as username and password.

[2016-04-27 17:08] tehranian opened #65 "Misleading README notes on "detach_process" & "num_threads""
Greetings!

Do the configuration options "detach_process" & "num_threads" still do anything after the re-write? The README still contains a section on using these options, but grep-ing through the code base the only references I can find for these parameters is in the old, deprecated output plugin. Links:

README section - Improving Throughput to Amazon Kinesis:
* https://github.com/awslabs/aws-fl

[2016-04-27 22:20] tehranian commented on #65
Oh wait, I see... You're inheriting these config params from fluentd:

https://github.com/fluent/fluentd/blob/master/lib/fluent/output.rb#L167-L168
https://github.com/fluent/fluentd/blob/master/lib/fluent/process.rb

Sorry, my mistake!

[2016-04-27 22:20] #65 closed

[2016-05-02 23:42] tehranian opened #66 ""kinesis_producer" results in 2x CPU consumption as "kinesis_streams""
Hi there,

I work at [Twilio](https://www.twilio.com) (a major AWS customer) and we're using fluentd & Kinesis as part of a log aggregation solution for our microservices.

I was very excited to see the 1.0 release of this plugin which added support for the C-based KPL log-shipper. Unfortunately in our testing, the KPL-based "kinesis_producer" output plugin seems to cause fluentd's "ruby2.0" proce

[2016-05-04 05:48] riywo commented on #66
Hi @tehranian

Thank you for reporting this. So far I don't have any idea of this cpu consumption. I'd like to reproduce it, could you share your fluent.conf without any credentials or sensitive data?

[2016-05-04 18:28] tehranian commented on #66
Hi @riywo ,

Thanks for the response. I simplified our config down to this and reproduced with the results below:

[code]

* Pushing 1,000 messages / second to the above `/var/log/twilio/logspammer.log`, I see CPU utilization of the `ruby2.0` process at 22% of 1 core as reported by Datadog. FWIW - Looking in `top`, I see a great deal of variance in that CPU utilization over time... Ex: The ruby pr

[2016-05-12 23:41] cbroglie opened #67 "Derive stream name from fluentd tag"
We have an application where we would like to route data to different Kinesis streams based on the fluentd tag. This is doable by specifying a different `<match></match>` configuration for each tag, but it means that there will be a separate KPL process for each configuration. And if we have 20 different streams, that means 20 instances of the KPL process, which wastes resources.

Since the KPL re

[2016-05-17 04:13] cbroglie commented on #66
We're encountering a similar issue in that our throughput is bound by CPU time. I captured a profile (https://gist.github.com/cbroglie/907f631e313c23d346c31e40094b1452), and it does appear to be serialization related.

[2016-05-17 06:52] riywo commented on #66
Hi @tehranian and @cbroglie

Thank you for the information. Yes, this plugin uses pure-ruby protobug library so that it will cost somehow to serialize/deserialize. There is another protobuf library using native code, but it is still alpha version. If it will be released GA version, I will use that.

[2016-05-18 00:34] riywo commented on #66
I've also took ruby-prof both streams and producer, and I can see the protobuf methods take much CPU time.
https://github.com/awslabs/aws-fluent-plugin-kinesis/tree/work/profile/profile

I'm going to test [google-protobuf](https://rubygems.org/gems/google-protobuf) which uses native code (though still alpha). If it works fine, I'll consider whether I can add an experimental option to use this libr

[2016-05-18 01:38] cbroglie commented on #66
I tried testing that earlier today but the problem is it only supports proto3, and the KPL is using proto2. I opened up an issue for the KPL project regarding that: https://github.com/awslabs/amazon-kinesis-producer/issues/52.

[2016-05-31 19:09] tehranian opened #69 "Revisit backoff logic"
Was looking through the backoff logic after we hit some "ProvisionedThroughputExceededException" errors. We see the following issues:

From https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/b9ab13abe75fa61e26549630ebd09b43259bf799/lib/fluent/plugin/kinesis_helper/api.rb#L154-L160 :
- `scaling_factor` is always going to be a number between  0.25-0.35. That is not a very wide spread.
- Given

[2016-06-01 09:41] comtef opened #70 "Plugin incompatible with new fluentd release 0.14"
The kinesis plugin is not compatible with the new release of fluentd (0.14).
Startup fail with the following message :

The use of detach_process in an output plugin was pointed as a bad practice from fluentd developper tagomoris and will be deprecated in future release.

[2016-06-01 22:09] riywo commented on #70
Hi @comtef ,

Thank you for reporting. I think some `require` statements has been got rid of in v0.14 so that this plugin is facing the missing of module. I'll fix it soon.

To stop using detach_process in this plugin, we need more investigation to get high throughput with a thread model in MRI. This is a separate topic for this issue. I'll open an issue.

[2016-06-01 22:15] riywo commented on #69
Hi @tehranian ,

Thank you for your feedback from the real world. I'll consider to change the default value, but it is an incompatible change which will affect to all users who use the default value. So, I'll update it when I bump the major version.

By the way, do you need more configurable parameters to adjust backoff logic, such as base_of_scaling_factor?

[2016-06-01 22:22] riywo opened #71 "Getting rid of detach_process feature"
TODO: More investigation to get high throughput with a thread model in MRI.

It fill fix #45

[2016-06-01 23:22] tehranian commented on #69
Hi @riywo ,

re: changing the behavior w/a major version bump - Yea that makes sense.

re: more configurable parameters - Yea, I was going to suggest something like this. Seems ok to me. Or just clearly document to folks in the README section for `retries_on_batch_request ` what the behavior of the default retry configuration will result in.

[2016-06-03 00:23] #67 closed

[2016-06-05 23:55] wryun commented on #32
Thanks!

[2016-06-05 23:56] wryun commented on #42
Thanks!

[2016-06-06 00:01] wryun commented on #66
We are successfully using the alpha version of the google plugin which has moderate CPU usage in https://github.com/atlassian/fluent-plugin-kinesis-aggregation

(was developed before this plugin supported aggregated records)

There's a nasty hack to get around the proto2 vs proto3 issue :)

[2016-06-06 21:15] cbroglie commented on #66
@wryun Interesting, thanks for sharing. Looks like https://github.com/atlassian/fluent-plugin-kinesis-aggregation/commit/4b80e987c4c91c3374a34bb44cce852ed9aa6a9a is the commit demonstrating how to use it the Google library with proto2. Have you encountered any issues using the alpha version of google-protobuf?

[2016-06-08 08:00] wryun commented on #66
No, it's been working smoothly across the organisation (many many terabytes :) ). But that plugin is very much tuned for our use-case.

[2016-06-11 23:26] #70 closed

[2016-06-11 23:47] #64 closed

[2016-06-13 02:46] riywo commented on #70
Hi @comtef ,

I've released v1.1.0 to fix this issue and more. Please check it out and let me know if anything.
https://rubygems.org/gems/fluent-plugin-kinesis/versions/1.1.0

[2016-06-13 02:47] riywo commented on #67
Hi @cbroglie ,

I've released v1.1.0 and it contains this contribution. Thank you for your PR!
https://rubygems.org/gems/fluent-plugin-kinesis/versions/1.1.0

[2016-06-13 02:57] cbroglie commented on #67
Thanks!

[2016-06-29 03:35] cbroglie commented on #66
We moved over to https://github.com/atlassian/fluent-plugin-kinesis-aggregation as well. Using the google-protobuf library makes it much more performant, and since fluentd is already doing the buffering to aggregate records, I don't see any reason to deal with the additional complexity of the KPL.

[2016-07-14 15:24] bratislavml opened #77 "Gem Dependency Conflict"
Hi, after plugin installation I am getting following error:

/opt/td-agent/embedded/lib/ruby/site_ruby/2.1.0/rubygems/specification.rb:2064:in `raise_if_conflicts': Unable to activate aws-sdk-2.1.36, because aws-sdk-resources-2.2.3 conflicts with aws-sdk-resources (= 2.1.36) (Gem::LoadError)
	from /opt/td-agent/embedded/lib/ruby/site_ruby/2.1.0/rubygems/specification.rb:1262:in `activate'
	from /o

[2016-07-14 17:49] brad-hays-mentor commented on #77
I have also seen this, have not had time to troubleshoot though.

[2016-07-15 00:00] riywo commented on #77
Hi,

The error is raised by fluent-plugin-kinesis-firehose, not this plugin. Please uninstall fluent-plugin-kinesis-firehose gem and try again.

Best

[2016-07-20 16:05] bratislavml opened #78 "Removing message and time"
Hi,

How can I remove message and time field below keeping only json {\"transactionId\":\"221620499\",....} in the message forwarded to kinesis forehose?

{
    "message": "\r{\"transactionId\":\"221620499\",....}",
    "time": "2016-07-20T10:58:50-04:00"
}

Thanks

[2016-07-20 16:22] riywo commented on #78
Hi,

Could you provide a related part of your fluent.conf?

Best

[2016-07-20 16:23] riywo commented on #77
I'd like to close this issue since this is not an issue of this plugin. If you have additional question, feel free to add more comments here.

[2016-07-20 16:23] #77 closed

[2016-07-20 16:32] bratislavml commented on #78
Thank you riywo for quick reply. Here is the part for td-agent.conf:
...
  <store>
      type kinesis_firehose

      delivery_stream_name <name>

      #credentials
      aws_key_id *******
      aws_sec_key *******
      region us-east-1

      include_time_key true
      flush_interval 5s
  </store>
...

Does include_time_key affect message structure? I can remove it.

[2016-07-20 17:20] riywo commented on #78
Yes,  the time key in your output comes from `include_time_key true`. I'm not sure how the `message` field comes from.

If your original record has the `message` field, then you can use `data_key message` instead.

[2016-07-26 15:45] bratislavml commented on #78
Thanks riywo, using data_key message was working.

[2016-08-08 06:38] stevenc81 opened #80 "aws-fluent-plugin-kinesis on aws-sdk-core-2.5.1"
Hello amazing AWS team,

Happy Monday! I hope you week starts off to a great start! We noticed there is a small issue with the new aws ruby SDK from last week suggesting the variable **region** couldn't be resolved after 2.5.1 (https://github.com/aws/aws-sdk-ruby/blob/master/aws-sdk-core/lib/aws-sdk-core/credential_provider_chain.rb#L76). Wondering if this might be something we could resolve on th

[2016-08-08 15:08] riywo commented on #78
Good to hear that. If you have questions more, feel free to add more comments here.

[2016-08-08 15:08] #78 closed

[2016-08-08 15:35] riywo commented on #80
Thank you for reporting. I'll check this out.

[2016-08-20 00:45] riywo opened #81 "Wrong logic for chunk of batch request"
See #79

[2016-08-21 01:23] #80 closed

[2016-08-21 08:37] #81 closed

[2016-08-21 08:40] riywo opened #84 "Sunset of old plugin and ruby 2.0"

[2016-08-22 01:04] riywo commented on #80
Hi @stevenc81 ,

I've released the bug fixed version https://rubygems.org/gems/fluent-plugin-kinesis/versions/1.1.1 Please try this version and let me know if you have any problem.

Thanks

[2016-10-12 17:20] riywo opened #86 "Failed against fluentd v0.14.7 because of msgpack_each"
https://travis-ci.org/awslabs/aws-fluent-plugin-kinesis/jobs/166915163

It is caused by this change https://github.com/fluent/fluentd/pull/1263

[2016-10-14 09:58] riywo commented on #86
This is a bug of fluentd v0.14.7 and it has been fixed at v0.14.8.
https://github.com/fluent/fluentd/commit/30fea9da7f28d202ed1a2e052046c4687dffb494

[2016-10-14 09:58] #86 closed

[2016-10-17 09:41] llby opened #88 "Fluent::BufferQueueLimitError and kinesis_produce freeze"
I use fluentd v12.26 and aws-fluent-plugin-kinesis v1.1.0
When few days pass in production traffic.
fluentd has error `Fluent::BufferQueueLimitError`
and I can't kill kinesis_produce.
(and td-agent can't service restart.)

[code]

[2016-10-21 08:29] mperriere opened #89 "fluentd-kinesis dies when max ram buffer size has been reached"
Hello,
we use kinesis plugin to forward a 50Mbytes/s stream to a 80 Shards kinesis.
Unfortunately, when we simulate a kinesis connexion loss, or invalid credentials, or kinesis unreachable, the fluentd processe dies when the ram buffer is full.

Here is the kinesis output configuration:
<match apache.**>
  @type copy
  deep_copy
  <store>
    @id out_kinesis
    @type kinesis_streams
    region eu

[2016-10-21 08:39] riywo commented on #89
Hi,

Thank you for reporting the issue. I'd like to make it clearer.

Do you mean fluentd process dies or it is alive but not working when the memory buffer is full? What is your expected behavior if the memory buffer is full and kinesis continues unavailable?

Also, why don't you use file buffer instead? It is more durable than memory buffer.

Best,

[2016-10-21 08:43] riywo commented on #88
Hi,

Could you provide more information of the failure, e.g. output messages?

Best,

[2016-10-21 08:50] riywo opened #90 "Sunset of type kinesis"

[2016-10-21 09:54] mperriere commented on #89
When working properly, the fluentd process consumes 80% of CPU on our EC2.
When reaching max buffer size, the CPU drops down to 1%.
Process does not die but does nothing.
I did not find anything special in the logs when the issue occurs.

We don't use file buffer  (that's the one we use with fluentd-s3) because we had a few random errors with it.
In a few words, we inject the same 1Go raw apache l

[2016-10-21 16:11] comtef commented on #89
Hello,
I'm working with mperriere on the subject.
We send data to both S3 and Kinesis and our SLA for Kinesis is lower so we accept to use a memory buffer (S3 plugin use a file buffer).
We expect the kinesis plugin to drop chunks when its buffer is full and it should not affect others plugins. It should not matters why the buffer is full (Kinesis unavailable, data throughput too low), older chunks

[2016-10-22 03:30] riywo commented on #89
Thank you for describing. Could you also provide the version of this plugin, fluentd, and ruby?

[2016-10-22 06:30] riywo commented on #89
Also, how did you simulate a kinesis connexion loss, invalid credentials, or kinesis unreachable?

[2016-10-23 15:47] llby commented on #88
I find other warning.

[code]

[2016-10-24 01:40] riywo commented on #88
Thanks. Do you have any metric info related to this event? I can see you use monitor_agent so that you would record metrics. Also, KPL sends metrics to Amazon CloudWatch which is useful if you can provide it.

[2016-10-24 08:59] mperriere commented on #89
Versions:
fluentd-2.3.3 (td-agent-2.3.3-0.el7.x86_64.rpm)
fluent-plugin-kinesis 1.1.1.
Ruby version is packaged with fluentd/td-agent:
ruby --version
ruby 2.0.0p648 (2015-12-16) [x86_64-linux]

I did simulate the kinesis connexion loss by removing the kinesis instance, or removing credentials, with fluentd already started.

[2016-10-24 10:01] llby commented on #88
ok.

- 2016/10/14 11:00
    - AWS/Kinesis WriteProvisionedThroughputExceeded -> Instantaneously many
    - KinesisProducerLibrary RetriesPerRecord ->  Instantaneously many
    - KinesisProducerLibrary UserRecordExpired -> Instantaneously many（all shard）
    - KinesisProducerLibrary RequestTime -> Instantaneously many
    - KinesisProducerLibrary ErrorsByCode InternalFailure -> Instantaneously many

[2016-10-26 20:05] EyesOfRaistlinV opened #91 "TLS/Ciphers"
Hello,

   I am trying to find out what version of TLS, and what cipher (specifically) are used by this plugin when connecting to Kinesis Streams.  Is that documented somewhere?

Thank you,
J.W.

[2016-10-27 02:43] twosider commented on #91
The short answer is ECDHE-RSA-AES128-SHA. There are ways to override the cipher, but this is rare in practice.

According to this, https://github.com/aws/aws-sdk-ruby/issues/683 , aws ruby sdk v2 is using the default for Net::HTTP.

I found this for IoT, but not Kinesis: http://docs.aws.amazon.com/iot/latest/developerguide/iot-security-identity.html

[2016-10-27 15:48] EyesOfRaistlinV commented on #91
Ben,

   Thank you.  I will look at the defaults in the aws ruby sdk.

J.W.

*Jerod A. Weaver*
Valiant Solutions, LLC
c:  816.398.5770
jweaver@valiantsolutions.com
www.valiantsolutions.com

On Wed, Oct 26, 2016 at 9:43 PM, Ben Mercier <notifications@github.com>
wrote:

[2016-11-08 12:48] francotestori opened #92 "Using Kinesis Tags with output plugin"
Is there a way to push logs into a Kinesis Stream from the fluentd plugin using the Amazon Tagging System to organize data?
More on Amazon's Tagging : http://docs.aws.amazon.com/streams/latest/dev/tagging.html

I am trying to generate a centralized logging system; yet i require to identify the different kinds of logs that I am pushing into my Kinesis Stream

[2016-11-08 13:01] #92 closed

[2016-11-20 07:29] #91 closed

[2016-11-20 07:29] #90 closed

[2016-11-20 20:14] riywo opened #93 "Bug with the newer version of aws-ruby-sdk (>= 2.6.24)"
Since this plugin uses private API (`Aws::CredentialProviderChain`), breaking changes sometimes happen...

[code]

[2016-11-20 20:15] riywo opened #94 "Refactor credentials helper"
Stop using private API (`Aws::CredentialProviderChain`).

[2016-11-20 20:36] #93 closed

[2016-11-20 20:42] riywo opened #96 "Support newer version of KPL"
https://github.com/awslabs/amazon-kinesis-producer/releases

[2016-11-21 16:56] riywo commented on #89
Hi @mperriere and @comtef ,

Sorry for my late reply. I found that fluentd itself has an exact option which you want since v0.12.24:

`buffer_queue_full_action drop_oldest_chunk`

https://github.com/fluent/fluentd/pull/934

td-agent v2.3.3 contains fluentd 0.12.29, so you can use this option.

I'm going to close this issue, but feel free to comment if it doesn't work.

Thanks,

[2016-11-21 16:56] #89 closed

[2017-01-13 16:33] eoconnor opened #97 "random_partition_key parameter not being used?"
I just noticed the following warnings in my Fluentd logs:

[code]
If I'm to interpret that literally, it looks like Fluentd isn't recognizing my random_partition_key? I'm not sure why that would be; from looking at the documentation and plugin source code, it looks like I'm using it correctly. Any ideas?

[2017-01-13 18:32] tehranian commented on #97
I think you misunderstood the docs. There is no such option as `random_partition_key`, but there is an option called `partition_key`. If you leave that option as the default (`nil`), then it will use a random partition key. See: https://github.com/awslabs/aws-fluent-plugin-kinesis#partition_key-1

It looks like you're trying to have a random partition key, so given that you've not overridden `part

[2017-01-13 19:14] eoconnor commented on #97
Thanks for the quick response. I see now that random_partition_key is not listed in the README documentation. It is in the source code, however (https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/master/lib/fluent/plugin/out_kinesis.rb), and also mentioned in an article on the plugin on the Fluentd site (http://docs.fluentd.org/articles/kinesis-stream). So, maybe some mixed messages there.

[2017-01-13 21:00] tehranian commented on #97
@eoconnor : Oh wow. Thanks for the links. I guess the source code is the real source of truth here! :)

[2017-01-15 03:24] riywo commented on #97
Hi @eoconnor ,

In kinesis_stream and kinesis_producer plugins, random_partiton_key has been removed and that is the default behavior unless you specify your partition key. So, you're right.

You're trying to use kinesis_producer plugin, so your pointing source is wrong. And kinesis type plugin is deprecated, so fluentd doc should be updated to use kinesis_stream plugin. We'll delete this plugin i

[2017-01-15 03:24] #97 closed

[2017-02-01 00:39] rgarcia opened #98 "compressing output to kinesis_streams"
I see the deprecated `kinesis` type has a `zlib_compression` option, but that `kinesis_streams` does not have this option. What's the recommended way to compress data sent through `kinesis_streams`?

[2017-02-01 05:45] riywo commented on #98
Unfortunately, it is not supported right now. If you need this feature, feel free to create a PR.

To prioritize, I'd like to understand what is the use case for compression.

[2017-02-01 05:47] riywo opened #99 "Fix broken build with fluentd 0.14.12"
https://travis-ci.org/awslabs/aws-fluent-plugin-kinesis/jobs/196794135

[2017-02-01 08:04] riywo commented on #71
At fluentd 0.14.12, this feature has been removed officially.
https://github.com/fluent/fluentd/commit/fcd8cc18e1f3a95710a80f982b91a1414fadc432

[2017-02-01 10:07] riywo commented on #88
Hi @llby ,

Sorry for super delay. Are you still seeing this issue? It seems that your kinesis capacity was full because WriteProvisionedThroughputExceeded metric increased.

[2017-02-01 10:12] riywo opened #101 "google-protobuf 3.1.0"
google-protobuf plugin 3.1.0 has been released. Need to check it.
https://rubygems.org/gems/google-protobuf

[2017-02-01 10:13] riywo commented on #66
#101 will resolve this. So, I'd like to close this issue.

[2017-02-01 10:13] #66 closed

[2017-02-01 18:16] rgarcia commented on #98
@riywo a Kinesis stream charges/limits you based off of throughput in bytes. Compression saves bytes, which lets you send more data to a stream and also saves money 😄

[2017-02-02 01:27] #99 closed

[2017-02-02 02:02] riywo opened #102 "Support AWS SDK for Ruby v3"

[2017-02-02 02:07] riywo commented on #101
Also, we can consider about implementation of aggregation without KPL like [fluent-plugin-kinesis-aggregation](https://github.com/atlassian/fluent-plugin-kinesis-aggregation) since the google-protobuf has been released.

[2017-02-02 02:12] riywo commented on #45
Since fluentd has stopped to support detach_multi_process, I'd like to close this issue. They introduced new worker system and 2.0.0 of this plugin will support it.

[2017-02-02 02:12] #45 closed

[2017-02-02 02:14] riywo opened #103 "Refactoring class design"
v1 uses lots of mixin and class method, but it is too complex. Want to refactor the whole design of classes to make it easy to understand.

[2017-02-02 02:18] riywo commented on #98
Got it. It totally makes sense. I'll try to make it in version 2.0.0.

[2017-02-02 02:21] riywo opened #104 "Support fluentd new worker model"
http://www.fluentd.org/blog/fluentd-v0.14.12-has-been-released

- Plugin MUST be implemented with v0.14 API natively
    - Plugin class is a direct subclass of Fluent::Plugin::Input, Fluent::Plugin::Output, Fluent::Plugin::Filters, etc
- Plugin MUST have #multi_workers_ready? method and return true
    - The default return value of this method is true in filter/buffer/parser/formatter/storage plug

[2017-02-02 02:22] riywo commented on #71
Closing since it has been removed from fluentd. Created a new issue to support worker model https://github.com/awslabs/aws-fluent-plugin-kinesis/issues/104

[2017-02-02 02:22] #71 closed

[2017-02-04 03:34] llby commented on #88
Maybe. I think so, too.
You means
When kinesis catpacity was full, plugin kinesis_produce freeze?

[2017-02-07 11:57] mi5c opened #105 "Add low level logging of written #{records} to out_kinesis_streams.rb"
While creating the kinesis integration it would be helpful to see what was actually written out from the host.

At the moment I can see that x amount of records were written:
[code]
.. and I  can see that some of the lines did not match the format I specified:
[code]
What i do not see is what actually matched and how it eventually looked.

Possilble solution:
Line 28 debugs:
[code]
I would suggest

[2017-02-20 10:08] riywo opened #107 "Switch KPL to Aggregation by google-protobuf"
Delete KPL dependency and add feature to aggregate by `google-protobuf`

[2017-02-20 10:11] riywo commented on #101
Will release alternative KPL feature using google-protobuf #107 .

[2017-02-20 10:11] #101 closed

[2017-02-20 10:14] riywo commented on #107
Initial implementation has been finished and worked. It has limits; supporting only random or fixed partition key only, supporting fixed stream name only.

[2017-02-22 14:03] leamarty commented on #98
+1

[2017-02-23 09:27] tatsu-yam opened #108 "kinesis_producer can't refresh AssumeRole Credential."
The kinesis_producer plugin got into the state which can't refresh AssumeRole Credential in our environment. (https://github.com/awslabs/aws-fluent-plugin-kinesis/issues/58)
Even though, we use fluent-plugin-kinesis 1.0.1 (or later version).

Our setting is below
+ version
    + td-agent 2.3
    + fluent-plugin-kinesis 1.0.1 (or later version)
+ td-agent.conf
[code]

When an exeception occurs in t

[2017-03-06 10:10] riywo commented on #108
Hi @tatsu-yam ,

Thank you for reporting. I'll look into this.

[2017-03-13 07:15] riywo commented on #84
#112

[2017-03-13 07:15] #84 closed

[2017-03-13 07:16] riywo commented on #107
#112

[2017-03-13 07:16] #107 closed

[2017-03-13 07:17] riywo commented on #103
#112

[2017-03-13 07:17] #103 closed

[2017-03-13 07:17] riywo commented on #104
#112

[2017-03-13 07:17] #104 closed

[2017-03-13 07:17] riywo commented on #63
#112

[2017-03-13 07:17] #63 closed

[2017-03-13 07:18] riywo commented on #94
#112

[2017-03-13 07:18] #94 closed

[2017-03-13 07:19] riywo commented on #69
#112

[2017-03-13 07:19] #69 closed

[2017-03-13 07:19] riywo commented on #102
#112

[2017-03-13 07:19] #102 closed

[2017-03-13 07:27] riywo commented on #105
Hi @mi5c ,

Thank you for creating this issue. I'm sorry for my late reply.

Sometime records are huge so that output of whole records will be too much information. Because of that, I don't think expanding records to debug log is the best solution for you.

I think you can dispatch in_tail warn message using fluentd config. Maybe `<match fluent.**>`.

I'd like to close this but if you have any mor

[2017-03-13 07:27] #105 closed

[2017-03-13 07:28] riywo commented on #96
In v2.0.0, I'll cut KPL inclusion. Instead, it will aggregate records inside this plugin. So, I want to close this issue.

[2017-03-13 07:28] #96 closed

[2017-03-13 09:09] riywo commented on #98
#112

[2017-03-13 09:09] #98 closed

[2017-03-13 11:16] mi5c commented on #105
Fair enough.

I used the approach I described to do the initial migration, later I switched the logging level back to info.
It was useful for me to see the matched messages on the host already, since the final repository for storing the log entries was not ready for me.

[2017-03-29 09:02] tatsu-yam opened #116 "feedback for fluent-plugin-kinesis version 2."
Current fluentd stable version is v0.12 ( td-agent version 2), so I want to use next version this plugin with it.

[2017-04-03 21:48] rgarcia opened #117 "Kinesis Consumer Library integration"
Is there a way to write a KCL app using this plugin? We have been successful using this plugin's KPL integration to produce data into Kinesis. It would be great to be able to consume the KPL-aggregated data that this plugin produces and then forward it along using existing Fluentd plugins.

[2017-04-04 04:22] darklore opened #118 ""UndefinedConversionError" occurs with multibyte char data in v2.0.0.alpha"
"Encoding::UndefinedConversionError" occurs In fluent-plugin-kinesis version 2.0.0.alpha.1.1 when using multibyte character data as input.
Without multibyte character, no error occurred.

Here is td-agent.log when the error occurred.

/var/log/td-agent/td-agent.log
[code]

Here is a reproduction procedure.

1. Install td-agent and fluent-plugin-kinesis 2.0.0.alpha.

[code]

2. Edit td-agent.conf t

[2017-04-10 04:48] riywo commented on #116
Hi @tatsu-yam ,

Thank you for your feedback. I'll check this to work with fluentd v0.12 once the major capabilities are fixed with v0.14 during preview of v2.0.

Best,
Ryoske

[2017-04-10 04:51] riywo commented on #117
Hi @rgarcia ,

Unfortunately, this plugin only supports output plugin, not input. You need a separate plugin for such use case.

Best,

[2017-04-10 04:51] #117 closed

[2017-04-10 04:59] riywo commented on #118
Hi @darklore ,

Thank you for your reporting. I could confirm this is caused with kinesis_streams_aggregated. I'll look into this issue.

Best,

[2017-04-10 09:50] riywo commented on #118
It should be fixed in 2.0.0.alpha.1.2

cc: #112

[2017-04-10 09:50] #118 closed

[2017-04-13 21:03] zellski opened #119 "support for placeholder expansion"
Greetings,

It's possible I simply don't understand exactly how placeholder expansion works, but I would very much like to be able to specify e.g.
`
  stream_name ${tag_parts[1]}
`
Is this reasonably doable?

[2017-05-17 10:17] CheyiLin opened #122 "chunk bytes limit exceeds for an emitted event stream"
Hi,

I got the following warning and errors with fluentd `0.14.15`:
[code]

The config is:
[code]

The max record size from forward input is ~650KB, don't know why it hit the buffer chunk limit.
Did I miss something or have wrong configuration? Thanks.

[2017-08-07 04:33] wryun commented on #107
Totally missed this - thanks! I'll keep an eye out for 2.0, and redirect people in the README for fluent-kinesis-aggregation.

[2017-08-09 12:21] davidgacc opened #123 "Plugin-kinesis supports fluentd 0.14"
Plugin-kinesis supports fluentd 0.14 ?

[2017-08-09 12:25] davidgacc commented on #116
@riywo plugin-kinesis works with fluentd 0.14 ?

[2017-08-11 14:54] davidgacc opened #124 "time field seems not supporting miliseconds on Elasticsearch"
I am following this pipeline : kinesis-lambda-ES . The time field seems not supporting miliseconds when I see on kibana:

fluentd : 0.14.19
elasticsearch : 5.3

**time : May 17th 2017, 00:00:04.000**

timestamp: 2017-05-17 00:00:04,244

This is my conf:

[code]

Any ideas? I would appreciate your help.

Thank you,
David

[2017-08-23 12:55] ankitrg opened #126 "Is there a way to use this plugin on heroku?"
I am trying to write some data to Kinesis firehose, does this gem supports heroku?

[2017-09-20 05:35] riywo commented on #116
Hi @davidgacc ,

Sorry for delay of my response. v2 is intended to be used by fluentd 0.14. v1 is for fluentd 0.12, but as long as 0.14 supports 0.12 compatibility, it might work with 0.14.

[2017-09-20 05:39] riywo commented on #119
Hi @zellski ,

Sorry for my late response. The plugin itself doesn't support dynamic stream_name. You might use forest plugin, instead. https://github.com/tagomoris/fluent-plugin-forest

[2017-09-20 05:39] #119 closed

[2017-09-20 05:42] riywo commented on #122
Hi @CheyiLin ,

Sorry for my late reply. Does this problem still exist? If so, I need more information to reproduce this problem. Could you give me plugin versions and steps to reproduce it?

[2017-09-20 05:43] riywo commented on #123
See #116 .

[2017-09-20 05:43] #123 closed

[2017-09-20 05:44] riywo commented on #126
Hi @ankitrg ,

I'm sorry but I'm not familiar with Heroku. Please ask to Heroku support at first.

[2017-09-20 05:44] #126 closed

[2017-09-20 05:48] riywo commented on #124
Hi @davidgacc ,

Thank you for reporting this. I have to dig into this issue. It seems that sub-second information is dropped somewhere inside plugin. Seems related to #87 , but not sure.

[2017-09-20 16:58] riywo commented on #116
Released https://rubygems.org/gems/fluent-plugin-kinesis/versions/2.0.0.rc.1.1 supporting fluentd v0.12.35 or later.

[2017-09-20 16:58] #116 closed

[2017-09-21 02:41] riywo commented on #124
I've released [v2.0.0.rc.2.0](https://rubygems.org/gems/fluent-plugin-kinesis/versions/2.0.0.rc.2.0) and it supports nanosecond format `time_key` with proper format for Elasticsearch. The config could be like below:

    <match *>
      @type kinesis_streams

      <inject>
        time_key time
      </inject>
    </match>

[2017-09-21 02:41] #124 closed

[2017-09-22 01:04] Strainy opened #128 "/var/log/docker buffering to disk?"
I'm running my containers in AWS ECS on the ECS optimised AMI.

I've set the following docker configuration:

[code]

My volumes are now filling up due to a file called `/var/log/docker` which appears to be growing unconstrained.

I'm using the following FluentD configuration (I'm also running FluentD in a docker container):

[code]

I've attempted to configure logrotate, but have noticed some str

[2017-09-22 11:35] riywo commented on #128
Thank you for reporting, but I have several questions:

What types of events are stored in `/var/log/docker`?

Do you use fluentd logging driver even with the fluentd container? I wonder that the filter plugin uses stdout, so it sends the event to container's stdout, then logging driver forward it to the container again, and continue.

Why do you think the fluentd can't send logs to Kinesis so fas

[2017-09-22 11:40] riywo commented on #122
Closing. If you are facing the same issue, please add comment with more information.

[2017-09-22 11:40] #122 closed

[2017-09-22 11:44] riywo commented on #88
I'm sorry for no response for a long time. We're are going to release [v2.0.0](https://github.com/awslabs/aws-fluent-plugin-kinesis/pull/112) which supports record aggregation by a different way without KPL. So, this problem never happen and I'm closing.

Please try v2.0.0 first. If you need more help, feel free to add comment.

[2017-09-22 11:44] #88 closed

[2017-09-22 11:45] riywo commented on #108
I'm sorry for no response for a long time. We're are going to release [v2.0.0](https://github.com/awslabs/aws-fluent-plugin-kinesis/pull/112) which supports record aggregation by a different way without KPL. So, this problem never happen and I'm closing.

Please try v2.0.0 first. If you need more help, feel free to add comment.

[2017-09-22 11:45] #108 closed

[2017-09-24 02:56] Strainy commented on #128
Hi @riywo,

The events stored look to be from the Docker daemon itself. The file contains the log line that Docker was unable to forward to fluentd with an error message. Something like:

`Aug  7 17:45:11 ip-10-0-60-181 docker[65207]: time="2017-08-07T17:45:11.863947825-07:00" level=error msg="Failed to log msg \"<FULL TEXT OF THE MESSAGE>\" for logger fluentd: fluent#send: can't send logs, client

[2017-09-25 02:12] riywo commented on #128
The message seems to be generated by fluentd logging driver. So, you should first check why the reconnection happened and it might not be caused by this plugin directly. You can ask to docker or fluentd community, but this is not the place. I'm closing this issue.

[2017-09-25 02:12] #128 closed

[2017-10-09 23:53] Strainy commented on #128
For those experiencing this issue, I've raised an issue on the AWS-ECS-Init repo. They should be able to point me in the right direction:
https://github.com/moby/moby/issues/34974

[2017-10-10 08:23] riywo commented on #128
Yes, that is the right place! Thank you for keeping update here.

I'm just pointing the ecs-init issue for reference: https://github.com/aws/amazon-ecs-init/issues/119

[2017-10-11 18:01] gurunathj commented on #122
I got same warning message with fluentd-0.14.21.
2017-10-11 17:09:17 +0000 [warn]: #0 chunk bytes limit exceeds for an emitted event stream: 3351422bytes

What could be reason getting this message with below configuration.
   <store>
    @type kinesis_streams_aggregated
    stream_name test-stream
    region us-east-1
    <buffer>
      @type file
      path /fluentd/log/kinesis.*.buffer
      flu

[2017-10-11 18:27] gurunathj opened #133 "Failed to flush the buffer with error_class=NoMethodError error="undefined method `compact'"
The aws-fluentd-plugin-kinesis having following errors while running with type kinesis_streams_aggregated and fluentd version 0.14.21.

2017-10-11 17:07:45 +0000 [warn]: #0 failed to flush the buffer. retry_time=0 next_retry_seconds=2017-10-11 17:07:45 +0000 chunk="55b4874e145808169ea53006b65fdb54" error_class=NoMethodError error="undefined method `compact' for 92:Fixnum"

2017-10-11 17:09:15 +000

[2017-10-11 20:37] gurunathj commented on #133
Additional logs.
---------
2017-10-11 20:27:25 +0000 [info]: gem 'fluent-plugin-kinesis' version '2.0.1'
2017-10-11 20:27:25 +0000 [info]: gem 'fluent-plugin-s3' version '1.0.0.rc7'
2017-10-11 20:27:25 +0000 [info]: gem 'fluentd' version '0.14.21'
2017-10-11 20:27:25 +0000 [info]: adding match in @syslog pattern="rtb" type="copy"
2017-10-11 20:27:25 +0000 [info]: adding source type="tail"
2017-10-

[2017-10-11 20:51] riywo commented on #133
Hi @gurunathj ,

Thank you for reporting the issue. Could you give me whole fluent.conf related to this plugin? Also, how is it working with `@type kinesis_streams`? Finally could you show an example record causing this problem?

Thanks,

[2017-10-11 20:52] riywo commented on #122
Seems duplicated to #133 . Just for reference.

[2017-10-12 08:00] CheyiLin commented on #122
Sorry for the late reply.

I solved this by increasing the chunk and queue limit to fit my message throughput, with the following config:

[code]

[2017-10-13 06:12] riywo commented on #133
Thank you for providing the detail and examples. I've reproduced this issue. Let me investigate it.

[2017-10-16 07:21] riywo commented on #133
Hi @gurunathj ,

Could you share why you configure `chunk_limit_size` so small? I think larger `chunk_limit_size` is the easiest way to avoid this issue.

[2017-10-16 14:16] gurunathj commented on #133
Hi @riywo

The chunk_limit_size of 1k in example is for purpose of reproducing the issue. Anyway in actual environment the issue occurs when I provide  chunk_limit_size up to 1m. I am keeping chunk_limit_size less than 1m because of Kinesis shard put request limit.

So is chunk_limit_size actually related to Kinesis shard put request limit? Does it make any difference when multiple instances and t

[2017-10-17 01:09] riywo commented on #133
When putting events of one chunk to Kinesis, this plugin split the chunk to align the limit of API limits automatically, so you can set `chunk_limit_size` as much as possible you want. The cons of larger chunk size is it will cause lots of duplicated put records to Kinesis since the retry unit of fluentd is by chunk.

You can also configure the number of slicing by [`batch_request_max_count`](http

[2017-10-18 21:44] gurunathj commented on #133
Setting larger chunk_limit_size resolved the error. Thank you.

[2017-10-20 05:30] riywo commented on #133
Hi @gurunathj ,

I'm happy to here that larget `chumk_limit_size` sovled the error.

This error only happens with fluentd v0.14 since it automatically split data to multiple chunk but this plugin doesn't take care of it so far. The solution could be using the standard format of v0.14 plugin, but this is a big change. So, I'd like to keep current code and put solving this issue for the next major v

[2017-11-02 05:43] c-knowles commented on #133
Experiencing the same error with v2.0.1 of this plugin with fluentd 0.12.40. Prior to updating we were on v1.1.3 of this plugin and fluentd 0.12.36 and never experienced the same problem with that. I don't have a cause yet so cannot say if it's entirely bound to the plugin update.

[2017-11-07 08:44] barbarosalp opened #134 "@type kinesis_streams_aggregated: some config fields are not used warning"
Hi,

I am using the config specified in the documentation but here are the warnings:
Why does it ouput these logs?

Thanks.

[code]

[2017-11-14 23:36] Resisty opened #135 "Missing required parameter and expected String or IO object, got Hash"
Fluentd versions: 0.12.40, 0.14.22
fluent-plugin-kinesis version: 2.0.1

Errors (`\`s and line breaks for legibility):
[code]

fluent config:
[code]

I'm not sure how the partition_key is lost and I don't know what to do about the data being a Hash instead of a String or IO object. Any help is much appreciated, thanks!

[2017-12-28 11:49] ddehghan opened #137 "shared credentials are not read correctly"
Hi everyone, it seems that shared_credentials are not read.

This works:

[code]

but this does not:

[code]

The error I get is:

2017-12-28 11:57:00 +0000 [warn]: #0 failed to flush the buffer. retry_time=0 next_retry_seconds=2017-12-28 11:57:00 +0000 chunk="56165330c8394f1cd27763bd24c03400" error_class=NoMethodError error="undefined method `access_key_id' for nil:NilClass"

credential file is a

[2018-01-03 18:47] Resisty opened #138 "Partition Key is empty for fluent agent's logs"
Because reasons™ I'm stuck on:

- ruby 1.9.3
- aws-sdk-core v2.7.0
- fluentd v0.12.40
- aws-fluent-plugin-kinesis v0.4.1

Using the in_tail plugin to send items to Kinesis Streams works fine. However, trying to send the fluentd agent's own logs fails; the configuration:

[code]

should, as far as I'm aware, add a `gen_host` field to each record matching tag `fluent.**` and then get sent to Kinesis

[2018-01-10 23:56] camilosantana commented on #134
i'm experiencing the same
[code]
looks like `flush_interval 1` is valid.

I'll leave as it is since `[warn]` isn't critical. Perhaps these settings will be implemented in a future release.

[2018-01-18 22:25] Jackyjjc opened #139 "Amazon Kinesis Data Streams will install ATS certificates"
This will affect 1.3.0 because it is using KPL 0.10.2

[2018-03-11 13:53] tamtam180 opened #141 "it is calculating the wrong record size on batch request."
## (FYI) on v0.3.4 (sorry for too old version)

I’m using this version. And I got error of `Records size exceeds 5 MB limit`.
This is because `[put_records](https://docs.aws.amazon.com/ja_jp/kinesis/latest/APIReference/API_PutRecords.html)` data size should under 5MB include `partition_key`, but this version does not include `partition_key`.

Under my case, it wrote 470 records with { data = 52391

[2018-03-16 21:09] burkaygur opened #142 "chomp is removing trailing newlines."
https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/master/lib/fluent/plugin/kinesis.rb#L108

Here, the additional formatting - chomp - is causing newlines to be removed that the JSON formatter is adding by default. I think at this point we should rely on the formatter and not do any post-processing.

[2018-04-12 23:54] rgarcia commented on #133
We're hitting this issue running fluentd v1.1 (`fluent/fluentd:v1.1-debian` docker image), version `2.1.1` of this plugin, and the following configuration:
[code]

error message:
[code]

What's the recommended setting for `chunk_limit_size`?

[2018-04-18 19:39] mseka1 opened #143 "failed to flush the buffer. retry_time=0"
Getting the following eror when running td-agent as service. when i run td-agent conf manually, it works
2018-04-18 19:33:18 +0000 [warn]: #0 failed to flush the buffer. retry_time=0 next_retry_seconds=2018-04-18 19:33:19 +0000 chunk="56a2482976a74746e5199ab43418247a" error_class=Seahorse::Client::NetworkingError error="execution expired"

[2018-04-20 15:11] gurunathj commented on #133
I think the chunk_limit_size needs to be configured according to message size and available memory. I used higher value like 128m.

[2018-04-21 10:56] Verhaeg commented on #134
I had the same issue and looking at the Fluentd documentation (https://docs.fluentd.org/v1.0/articles/kinesis-stream) they show an example where buffer configuration is inside a buffer tag..
At least using Fluentd v1 with that solution helped me ;)

[code]

[2018-05-09 23:21] jamesongithub opened #145 "aws-fluent-plugin-kinesis plugin takes ~8 minutes to install"
this plugin installs every single ruby aws sdk dependency it looks like, can we parse down the dependencies? seems unnecessary.

`/usr/sbin/td-agent-gem install fluent-plugin-kinesis`

[code]

[2018-05-15 02:20] patrobinson opened #146 "Retry re-encodes json"
While experiencing some issues with our Kinesis Stream receiving too many records, we noticed the records get re-encoded multiple times when they are retried:

[code]

This is with version 1.1.3 of the plugin

[2018-05-15 15:44] Trane9991 opened #147 "Fluentd v1.x support?"
Does the plugin support usage of fluentd > 1.0.0?

[2018-06-05 17:06] sdduursma opened #148 "Switching from kinesis_streams to kinesis_streams_aggregated does not affect output format"
After switching from `@type kinesis_streams` to `@type kinesis_streams_aggregated`, I expected the logs to appear in AWS Kinesis in the KPL Aggregated Record Format, however, they still appear as plain JSON.

Here is part of my  fluentd configuration file:
[code]

I am certain that the configuration has taken effect after modifying it, because I've added a record with the `record_transformer` filt

[2018-06-08 08:47] sdduursma commented on #148
The issue turned out to be with our setup, not with the plugin.

[2018-06-08 08:47] #148 closed

[2018-06-12 00:53] pawel-lmcb commented on #133
I increased my chink_limit_size but I am still receiving this error. Curious if anyone has any tips to debugging this.

[2018-06-19 14:16] benkap opened #150 "Monitor when Kinesis is over capacity"
Hi,

When our stream is over capacity we're getting the following errors in fluent log (like documented):

2018-06-19 10:09:44 -0400 [error]: #0 Could not put record, Error: ProvisionedThroughputExceededException/Rate exceeded for shard shardId-000000000192 in stream xxx under account xxxxxxxxxxx., Record: ["xxxxxxxx"]

We are trying to monitor those events using fluent "monitor_agent" and" "fluen

[2018-06-26 23:20] tonyjiang opened #151 "Compression in "buffer" section doesn't work"
I have the following configuration inside the ```match``` section. I can see the compressed file in the specified path, but nothing gets sent to Kinesis (in contrast, data get sent to Kinesis without this ```buffer``` section). If this is expected behavior, it should be clearly documented in README. If it's not, it should get fixed.
[code]
Here are the error messages in ```td-agent.log```:
[code]

[2018-07-12 05:35] patrobinson commented on #146
Cannot reproduce

[2018-07-12 05:35] #146 closed

[2018-07-12 18:00] phagunbaya commented on #133
Same here. Please help!

[2018-07-18 10:59] danmx opened #153 "in_kinesis - Supporting an input plugin"
Are there any plans for an input plugin?

For scenarios like this:
`kinesis -> fluentd -> other_destinations`

[2018-07-19 19:18] adammw commented on #150
@benkap my solution thus-far has been to monkey-patch the gem to add in instrumentation reporting ourselves, but it would be good if the plugin had some built-in hooks to allow this rather than having to do something custom.

FWIW, you can see the ProvisionedThroughputExceededException errors in CloudWatch for the Kinesis stream, if that suits your use-case.

[2018-07-21 02:36] adammw commented on #133
Here is a test script that seems to reliably reproduce the error:
[code]

[2018-07-22 03:29] riywo commented on #151
Could you give us the versions of both fluentd and plugin?

[2018-07-22 08:32] benkap commented on #150
@adammw Thanks, We basically did the same.
Just by adding "@num_errors = retry_count+1" to "batch_request_with_retry" function on api.rb we can update the retry count on the build in in_monitor_agent.rb agent metrics. For errors, there is a need to also patch the core fluentd or monitor the log file...

[2018-07-24 01:54] phagunbaya opened #154 "http_proxy doesn't seem to work"
I have set `http_proxy` to `https://username:password@host:port` as an environment variable. The plugin crashes complaining about the authentication.

[code]

[2018-07-25 01:56] adammw commented on #133
From further investigation, this error seems to be occurring due to the use of the old v0.12 plugin api compatibility libraries. Internally, the records get msgpack'd and then appended to a single string that is emitted to the buffer, which is then split as a string when the size of the chunk is too large, without regard to the msgpack format. So when the plugin tries to parse the chunk as msgpack

[2018-07-25 18:26] adammw opened #155 "Remove support for fluentd 0.12"
There's a lot of code in this plugin to support the previous version of the fluentd plugin API. fluentd 0.14 has been out for two years now, hopefully most people can/have upgraded, and the cruft can be removed as a new major version of the plugin.

This would also fix the issue in https://github.com/awslabs/aws-fluent-plugin-kinesis/issues/133#issuecomment-407607862

[2018-07-27 19:49] phagunbaya commented on #154
Any update? It's a blocker for us.

[2018-08-13 13:04] darknighthunder opened #157 "Failed to flush the buffer with error_class=NoMethodError error="undefined method `compact'"
Relates to #133

I have been trying to configure fluentd to be able to send data to kinesis stream using the aw-fluent-plugin-kinesis. It was working fine earlier and has been failing recently causing issues in our environments. I have observed the below dependency plugin seems to be updated recently (1.3->1.4) and from that time  we noticed errors being generated in our environment with any new i

[2018-08-27 19:20] #155 closed, assigned to nobody

[2018-09-06 19:15] jamesongithub commented on #145
@darknighthunder hm seems to be the same for me

[code]

[2018-09-08 10:39] kvitali opened #161 "unexpected error error_class=LoadError error="cannot load such file -- aws-sdk-core/plugins/client_metrics_plugin.rb""
Hey,

We are using td-agent with kinesis plugin to send events to AWS Kinesis.
Starting from yesterday we start to get below error:

`2018-09-07 10:28:03 +0000 [error]: #0 unexpected error error_class=LoadError error="cannot load such file -- aws-sdk-core/plugins/client_metrics_plugin.rb"
  2018-09-07 10:28:03 +0000 [error]: #0 /opt/td-agent/embedded/lib/ruby/site_ruby/2.4.0/rubygems/core_ext/kern

[2018-09-08 11:26] kvitali commented on #161
I also think that the actual version running on my node is v3 and not 2.1.1 as printed.

[2018-09-09 14:57] riywo commented on #161
Could you provide the version list of whole gems? We noticed some combinations are failed and want to confirm you are in one of them.

[2018-09-09 16:08] riywo commented on #161
Also, could you try this alpha version? We think this version will solve such dependency issue. https://rubygems.org/gems/fluent-plugin-kinesis/versions/3.0.0.alpha.2.0

[2018-09-11 01:51] adammw commented on #145
Should be faster with the 3.0 alpha version since it no longer requires the entire aws sdk just the parts it needs.

[2018-09-14 02:17] jamesongithub commented on #145
great! is the 3.0 version backward compatible?

[2018-09-14 02:56] jamesongithub commented on #145
`v1.0 (td-agent3)`

whatever version `install-ubuntu-trusty-td-agent3.sh` seems to change w/ releases

[2018-09-14 10:10] simukappu commented on #145
Plugin v3.0 supports fluentd v0.14+, so you can try 3.0.0.alpha.2.0 if you have test environment. Please give us feedback if you have any trouble on that.
Thanks!

[2018-10-05 11:51] uklg commented on #145
The Alpha plugin works well and very speedy install. Any timeline for it being a non alpha release? Will the config likely change?

[2018-10-08 18:43] darknighthunder commented on #157
i was able to get the error resolved with aws-sdk-kinesis(1.6.0) dependency that got installed with fluent-plugin-kinesis  2.1.1 recently

[2018-10-08 18:43] #157 closed

[2018-10-08 18:45] darknighthunder commented on #145
@simukappu  I have tested with latest alpha release and it was very fast with installation, is there a plan to make the gem as official  release, would be interested to test that.

[2018-11-06 22:32] manjunathramesh opened #163 "how to add multiple custom tags to kinesis from fluentd."
I'm using the aws-kinesis-fluentd plugin to forward all the stdout logs of a Kubernetes cluster to Kinesis. My Kinesis stream needs some mandatory values like application name(application), type of application(type) and environment. I'm using the tag_key within but that just tags the resource name of Kubernetes. Is there a way to add additional tags in addition to just the Kubernetes resource name

[2018-11-07 16:33] manjunathramesh commented on #163
resolved this issue by using the out_rewrite_tag_filter plugin.

[2018-11-07 16:33] #163 closed

[2018-12-03 21:26] doubret opened #164 "How to use buffer file for reliability ?"
Is this plugin buffered ?
I would like to use a file for buffering the logs before they are sent to kinesis in case something goes wrong.
Do you have an example of using a buffer file with the plugin ?
Thanks

[2018-12-04 09:43] jenishshah671993 opened #165 "Send data to different Kinesis stream"
Hi,
I have JSON data. On the basis of JSON key value I need to send data to different kinesis stream. So can you suggest me if it's possible

[2018-12-14 12:00] janerikcarlsen commented on #164
I'm also curious about this

[2018-12-17 22:24] dtmistry opened #167 "Secondary formatting"
I'm trying to use a file/s3 output as a `<secondary>` if sending events to Kinesis is failing. But the way the plugin formats incoming events makes its harder to read from a secondary file or S3

Original message (json) -

[code]

Message in secondary output (file or S3) -

[code]

This is because of the `format` method implementation which adds a Hex of the event as the partition key

https://git

[2018-12-27 11:00] mitrilmad opened #168 "Adding EC2 metadata"
I am trying to send kinesis by using this plugin. It would be better If I could add ec2-metadata.
Is there any way to add some ec2-meta information?

[2019-01-21 18:52] #133 closed

[2019-01-21 18:52] #161 closed

[2019-01-21 19:05] riywo commented on #133
We've released v3.0.0.rc.1.0 https://rubygems.org/gems/fluent-plugin-kinesis/versions/3.0.0.rc.1.0

If there is no negative feedback, we'll release v3.0.0 soon.

[2019-01-21 19:05] riywo commented on #161
We've released v3.0.0.rc.1.0 https://rubygems.org/gems/fluent-plugin-kinesis/versions/3.0.0.rc.1.0

If there is no negative feedback, we'll release v3.0.0 soon.

[2019-02-20 09:59] cosmo0920 commented on #168
You can use [fluent-plugin-ec2-metadata plugin](https://github.com/takus/fluent-plugin-ec2-metadata). :)

[2019-02-20 10:03] cosmo0920 commented on #164
You can use [file buffer](https://docs.fluentd.org/v0.12/articles/buf_file) to protect processing buffer:

[code]

[2019-02-20 10:06] cosmo0920 commented on #165
It is possible to implement with built-in placeholders, which is the part of brand new Fluentd v1 API, for https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/master/lib/fluent/plugin/out_kinesis_streams.rb#L49
Currently, it is not implemented.

[2019-02-24 07:10] riywo commented on #142
Just released v3.0.0.rc.2.0 which doesn't `chomp` by default. Please try it out and give us feedback! https://rubygems.org/gems/fluent-plugin-kinesis/versions/3.0.0.rc.2.0

[2019-02-27 11:49] simukappu commented on #147
Yes, the plugin is tested with these td-agent (fluentd) versions.
https://github.com/awslabs/aws-fluent-plugin-kinesis/tree/master/gemfiles

Please see also [README.md](https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/master/README.md).

[2019-02-27 11:50] simukappu commented on #147
Closing this issue for now. Please reopen if required.

[2019-02-27 11:50] #147 closed

[2019-03-01 05:07] simukappu commented on #134
It seems to be solved with the buffer configuration.
Closing this issue for now. Please reopen if required.

[2019-03-01 05:07] #134 closed

[2019-03-01 05:09] simukappu commented on #135
Does anyone have a same issue?

[2019-03-01 05:14] simukappu commented on #137
Does anyone have a same issue?

[2019-03-01 05:21] simukappu commented on #141
Thank you for your reporting. The plugin v3 will remove support for Fluentd 0.12.
Closing this issue for now. Please reopen if required.

[2019-03-01 05:21] #141 closed

[2019-03-01 05:51] cosmo0920 commented on #165
I've registered [a PR](https://github.com/awslabs/aws-fluent-plugin-kinesis/pull/174) to fix this issue.
Does anyone want to try out this?

[2019-03-07 04:52] tj13 opened #175 "how to verrify comrpression working correctly?"
how can i to verify whether gzip compression is working? the config is as below

`<match tomcat.syslog>
  @type kinesis_streams
  compression zlib
  region cn-north-1
  stream_name test
  @log_level info
  flush_interval 1
</match>
`

[2019-03-07 04:52] tj13 commented on #175
`<match tomcat.syslog>
  @type kinesis_streams
  compression zlib
  region cn-north-1
  stream_name test
  @log_level info
  flush_interval 1
</match>
`

[2019-03-13 09:39] simukappu commented on #142
We will publish v3.0.0 next week unless we get any trouble feedback. We are appreciate your patience.

[2019-03-19 19:33] riywo commented on #145
Today, we've released v3.0.0 in rubygems. https://rubygems.org/gems/fluent-plugin-kinesis/versions/3.0.0

[2019-03-19 19:33] #145 closed

[2019-03-19 19:33] riywo commented on #142
Today, we've released v3.0.0 in rubygems. https://rubygems.org/gems/fluent-plugin-kinesis/versions/3.0.0

[2019-03-19 19:33] #142 closed

[2019-03-20 18:09] simukappu commented on #135
Closing this issue for now. Please reopen if required.

[2019-03-20 18:09] #135 closed

[2019-03-20 18:10] simukappu commented on #137
Closing this issue for now. Please reopen if required.

[2019-03-20 18:10] #137 closed

[2019-03-20 18:13] simukappu commented on #151
Closing this issue for now. Please reopen if required.

[2019-03-20 18:13] #151 closed

[2019-03-20 18:19] simukappu commented on #154
Thank you for your reporting.
According to your stack trace, this issue seems to be related another gem such as `fluent-plugin-kubernetes_metadata_filter-2.1.2` or `fluentd-1.2.0` itself. Is this an unique issue when you use `fluent-plugin-kinesis` plugin?

[2019-03-20 18:23] simukappu commented on #164
Thank you @cosmo0920 for answering. Closing this issue for now. Please reopen if required.

[2019-03-20 18:23] #164 closed

[2019-03-20 18:27] simukappu commented on #165
Thank you for your contributing.
I think we need to separate buffer for each destination streams for plugin durability. What do you think?

[2019-03-20 18:28] simukappu commented on #168
Thank you @cosmo0920 for answering. Closing this issue for now. Please reopen if required.

[2019-03-20 18:28] #168 closed

[2019-03-21 02:39] cosmo0920 commented on #165
@simukappu Fluentd v1 separates buffer for each destination streams:
https://docs.fluentd.org/v1.0/articles/buffer-section#other-keys

With [the testing configuration](https://github.com/awslabs/aws-fluent-plugin-kinesis/pull/174#issuecomment-466851293), Fluentd handles buffer per `$.key.nested`.

[2019-03-25 23:38] simukappu commented on #165
Sounds good. Does anybody have any feedback for this issue or PR?

[2019-04-03 21:14] amitdhawan commented on #165
Is this done?
I want to use this feature.

[2019-04-04 06:43] amitdhawan commented on #165
Lets merge it.

[2019-04-04 06:51] cosmo0920 commented on #165
@amitdhawan Can #174 patch work under your created AWS kinesis environment?
Testing on a few users are required.

[2019-04-04 06:54] amitdhawan commented on #165
Should i install this plugin from this branch on my fluentd config? How can i do that, could you please share the steps.I can test that on my AWs environment then.

[2019-04-04 06:56] amitdhawan commented on #165
Let me know the steps how can install this plugin on Fluentd. I can test it on my environment then.

[2019-04-04 06:58] cosmo0920 commented on #165
[code]

And then,

[code]

[2019-04-04 06:59] amitdhawan commented on #165
ok..let me give it a shot.

[2019-04-10 11:45] kvitali opened #179 "fluentd does not respect flush_interval"
My fluentd kinesis plugin version is 3.0.0.
My config file section is:

`<match kinesis.syslog.**>
  @type copy
  <store>
    @type stdout
  </store>
  <store>
    @type kinesis_streams
    region           "us-east-1"
    stream_name      "audit"
    flush_interval   5s
    num_threads      4
  </store>
</match>
`

The plugin does not respect the 5s flush interval. Sometimes it flushes 40 or 50 s

[2019-05-12 04:50] simukappu commented on #179
Hi @kvitali,

Which version of Fluentd are you using? Do you write `flush_interval` config in `buffer` section? We have updated [README](https://github.com/awslabs/aws-fluent-plugin-kinesis#for-better-throughput) to find this easier.

[2019-05-12 07:11] kvitali commented on #179
Hi @simukappu ,

We use Fluentd 1.2.
As you can see in config I mentioned above, we don't write flush_interval in buffer section, we put it in plugin section.
However, this works perfectly with Fluentd 1.2 + Kinesis plugin 2.1.1.
So, the change must happened on Kinesis plugin side in 3.0.0 version.

[2019-05-12 09:11] simukappu commented on #179
Thank you for sharing your environment.
These buffer section configurations are Fluentd configuration, not implemented in this plugin. Please see this [Fluentd document](https://docs.fluentd.org/articles/buffer-section). Also, we have no change about these configurations between plugin v2.1.1 and v3.0.0. See this [comparison](https://github.com/awslabs/aws-fluent-plugin-kinesis/compare/v2...v3).
C

[2019-05-17 02:24] cynipe commented on #150
I'm also glad to monitor with monitor_agent as well. Currently, the only way to notice the problem is to set CWAlarm on ProvisionedThroughputExceededException with a fairly large retries_on_batch_request on a plugin side. If monitor_agent can monitor, it will be very useful because it can be centrally managed like retry monitoring of other plugins.

[2019-05-20 13:29] kvitali commented on #179
thanks
checking this proposal

[2019-05-26 08:20] kvitali commented on #179
Hi @simukappu ,

After I moved the params under buffer section it works ok for plugin 3.1.0 version.
Also works fine with fluentd 1.3

thanks

[2019-05-26 08:20] #179 closed

[2019-05-30 03:51] isukapalli opened #183 "protobuf release is breaking fluent-plugin-kinesis"
Google has released 3.8.0 version and that's breaking fluent-plugin-kinesis installation from td-agent. The latest release is dependent on Ruby 2.3 version.

[code]
We wouldn't expect google will release breaking changes in their minor release but it's good have version pin on the gem dependencies.

https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/master/fluent-plugin-kinesis.gemspec#L50

[2019-06-19 13:05] kladiv commented on #153
+1

[2019-06-26 13:15] nehiljain opened #184 "Is it possible to use ${tag} in the delivery_stream_name"
Similar to https://github.com/fluent/fluent-plugin-s3#v10-style I want to dynamically send events to different firehose streams. Is it possible to use that with fluentd-kinesis plugin

[2019-06-28 11:21] Nikunj-Sharma opened #185 "Any load/stress testing has been done for the plugin?"
Hi There,

Let me first apologies for posting a question here, But unable to find any answer anywhere else.
Thanks a lot for this wonderful plugin. I was wondering that what kind of load plugin can handle.
We have a scenario where we need to post almost 40000 records/sec from our linux boxes to AWS Kinesis. We are planning for multi-process workers(may be 10 workers). Just wondering whether plugin

[2019-07-03 06:01] simukappu commented on #183
Thank you for your feedback. However, the earliest v3 supported td-agent v3.0.0 seems to include Ruby 2.4.0.
https://support.treasuredata.com/hc/en-us/articles/360001479187-The-td-agent-ChangeLog
https://docs.fluentd.org/quickstart/td-agent-v2-vs-v3

Which version of td-agent are you using? Which versions' installation is broken?

[2019-07-03 06:04] simukappu commented on #138
Fluentd v0.12.40 is not supported in plugin v3.
Closing this issue for now. Please reopen if required.

[2019-07-03 06:04] #138 closed

[2019-07-03 06:05] simukappu commented on #154
Closing this issue for now. Please reopen if required.

[2019-07-03 06:05] #154 closed

[2019-07-03 06:11] simukappu commented on #184
Currently, you cannot use ${tag} in the stream_name. This request seems to be same as #174.

[2019-07-03 06:13] simukappu commented on #184
Closing this issue for now since it's duplicate. Please reopen if required.

[2019-07-03 06:13] #184 closed

[2019-07-04 03:43] later123 commented on #137
I got the same issue, could you please share how to resolve it?

[2019-07-11 10:33] bozerkins commented on #183
Hello. We've faced the same problem. We're running td-agent 2.3.6 and were trying to install kinesis plugin version 2.1.1, which by all the accounts and documentation should support td-agent 2.3.6 (which comes with fluentd 0.12.35 version support). The problem is in this specific line https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/v2.1.1/fluent-plugin-kinesis.gemspec#L43
The dependency

[2019-07-11 10:36] bozerkins commented on #183
Also, the problems start with google-protobuf gem v3.7.0, where they dropped support for ruby < 2.3
https://github.com/protocolbuffers/protobuf/releases/tag/v3.7.0

[2019-07-11 10:46] ernescz commented on #183
In addition to @bozerkins comment platform specs: Linux Ubuntu 16.04 (Xenial), td-agent version: 2.3.6-0 (taken from http://packages.treasuredata.com/2/ubuntu/xenial/)

[2019-07-13 03:16] simukappu commented on #183
Thank you for your feedback!
I understand that this is a plugin v2 dependency issue, not v3. I have updated this dependency in [v2](https://github.com/awslabs/aws-fluent-plugin-kinesis/commits/v2) branch to `"google-protobuf", "~> 3", "< 3.8"` and will release v2.2.0 as v2 new version.

[2019-07-13 04:05] riywo commented on #183
We've released v2.2.0 to fix this dependency issue. https://rubygems.org/gems/fluent-plugin-kinesis/versions/2.2.0

Please add more comment if it doesn't work for you.

[2019-07-13 04:05] #183 closed

[2019-10-18 05:23] simukappu commented on #165
Released as v3.2.0.
https://rubygems.org/gems/fluent-plugin-kinesis/versions/3.2.0

If you have any feedback, feel free to share with us.

[2019-10-18 05:23] #165 closed

[2019-11-17 07:40] chungath opened #190 "Optimizing fluentd and the kinesis plugin to handle large amount of log data"
Hello,

   We have a fluentd aggregator running in Amazon ECS inside a docker container.  We also have micro services deployed to Amazon ECS which forward the logs to this fluentd aggregator using the fluentd agent installed in the the EC2 machines(This is basically a configuration in ECS tasks to send logs to the aggregator). The setup is similar to the one explained in [here](https://aws.amazon.

[2019-11-25 09:25] simukappu commented on #190
Hi,
Thank you for your inquiry.

A1: Fluentd buffer configuration including file buffer is not configuration of this plugin, but this is configuration of Fluentd. Please see this [Config: Buffer Section](https://docs.fluentd.org/configuration/buffer-section) in Fluentd document.

A2: I think you should try increasing shard count. 4 in not a large number as shard count for a large number of log eve

[2019-11-25 13:03] chungath commented on #190
Thanks for the response. We will increase the shard count.

In this case should we be using kinesis_streams_aggregated instead of kinesis_firehose?

[2019-11-30 11:45] simukappu opened #191 "Support or ignore IMDSv2 in instance profile test"
With *aws-sdk-core >= 3.79.0*, instance profile test will fail because of missing *stub_request*.
We need to add *stub_request* for getting token request as follows or ignore IMDSv2 as sdk configuration.
[code]

https://github.com/aws/aws-sdk-ruby/issues/2174
https://github.com/aws/aws-sdk-ruby/issues/2177

[2019-11-30 11:49] simukappu commented on #190
It depends on the use case. KPL format as *kinesis_streams_aggregated* may be cost effective, but you have to de-aggregate in a consumer.
Please see the following documents:
https://docs.aws.amazon.com/streams/latest/dev/kinesis-producer-adv-aggregation.html
https://docs.aws.amazon.com/streams/latest/dev/kinesis-kpl-consumer-deaggregation.html

[2019-11-30 11:49] simukappu commented on #190
Closing this issue for now. Please reopen if required.

[2019-11-30 11:49] #190 closed

[2019-11-30 11:58] simukappu commented on #175
You can verify by checking consumed data. The following test code may be helpful for you.
https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/master/test/plugin/test_kinesis.rb#L79-L88

[2019-11-30 11:58] simukappu commented on #175
Closing this issue for now. Please reopen if required.

[2019-11-30 11:58] #175 closed

[2019-11-30 12:09] simukappu commented on #185
I'm sorry but it depend on the use case, for example, the number of servers as data producer, the number of Fluentd agent, cloud-side environment such as the number of Kinesis shards and so on. Please test it on a real environment. The following Performance Turning section in Fluentd document may be helpful.
https://docs.fluentd.org/deployment/performance-tuning-single-process

[2019-11-30 12:09] simukappu commented on #185
Closing this issue for now. Please reopen if required.

[2019-11-30 12:09] #185 closed

[2019-12-15 11:18] #191 closed

[2019-12-19 18:43] rami013 opened #192 "Safe to use over the Internet?"
Is this plugin suitable to use over the Internet to send logs in hybrid cloud deployments? In other words, are there any security controls to prevent MITM attacks when sending logs to AWS Kinesis over the Internet if the source systems are not in AWS? I am thinking like DNS poisoning attacks to redirect sources to send their logs to MITM if the client does not properly verify the AWS Kinesis ident

[2020-01-14 10:30] azman0101 opened #193 "[Q] How to increase kinesis_firehose PutRecordBatch size ?"
Our average PutBatchRecord size is 1Ko bytes.

[code]

Regarding to AWS FAQ:
https://aws.amazon.com/kinesis/data-firehose/faqs/#Pricing_and_billing

We are not optimizing our costs.

I don't see which kinesis_firehose plugin option can help to increate PutRecordBatch size.

Regards,

JB

[2020-01-18 23:45] wryun commented on #150
FYI, this is one of the issues that https://github.com/atlassian/fluent-plugin-kinesis-aggregation addresses.

[2020-01-30 09:47] simukappu commented on #150
Hi, thank you for your feedback!
As you know, this plugin has internal retry mechanism. The plugin itself retries sending failed records as exponential backoff, and does not raise error to fluentd.
https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/master/lib/fluent/plugin/kinesis_helper/api.rb#L89-L109
That's why monitor_agent cannot observe retry_count metrics.

One option is to add confi

[2020-01-30 09:52] simukappu commented on #192
APIs of AWS services including Amazon Kinesis is HTTPS. The plugin uses AWS SDK and AWS SDK calls HTTPS Kinesis API. The server certificate proves the destination.

[2020-01-30 09:52] simukappu commented on #192
Closing this issue for now. Please reopen if required.

[2020-01-30 09:52] #192 closed

[2020-01-30 10:06] simukappu commented on #193
We don't have an option now. It doesn't matter of PutRecordBatch size, but matter of record aggregation because the 5KB roundup is calculated at the record level rather than the API operation level.
We can use KPL format with Kinesis Data Firehose, but you need to send records to Kinesis Data Streams in front of Firehose.
https://docs.aws.amazon.com/streams/latest/dev/kpl-with-firehose.html

[2020-01-30 13:12] liorco3000 opened #194 "Deprecated method: this method is going to be deleted. Use Fluent::MessagePackFactory.msgpack_unpacker"
Problem
We see hundreds of deprecation warnings per minute:
[code]
So i guess it related to this plugin we added recently.
Any fix for this ?

[2020-01-30 13:15] mindw commented on #194
reference fix:
fluent-plugins-nursery/fluent-plugin-cloudwatch-logs#172

[2020-02-03 21:28] eredi93 commented on #194
I'm also getting this warning. @simukappu is it as simple as preparing a PR like the one @mindw shared in the comment above?

[2020-02-10 13:59] mostfunkyduck commented on #137
also having this issue

[2020-02-11 14:54] simukappu commented on #194
Hi,
Thank you for your feedback. Which version of Fluentd are you using?
The class method *Fluent::MessagePackFactory.msgpack_unpacker* was added after Fluentd v1.8 [here](https://github.com/fluent/fluentd/commit/5324ee44676a1021dc94d1e23738653e5c0a8220). Deprecated log was also added [here](https://github.com/fluent/fluentd/commit/4209dcf8ed569578f71ca51658098e857542a72b) with this. However, [the

[2020-02-11 14:55] simukappu commented on #193
Closing this issue for now. Please reopen if required.

[2020-02-11 15:08] eredi93 commented on #194
@simukappu I'm using the lastest version of fluentd 1.9.1
is the issue here the fact that it would break td-agent?
I'm just wondering if we could work on removing the deprecated message, but if it would break other standard deployments like td-agent then i'm happy to leave it as is until they upgrade the package to 1.8 or newer

[2020-02-12 02:30] simukappu commented on #194
Hi @eredi93,
Could you test this patch whether you can remove the deprecated messages?
[code]

[2020-02-12 21:03] eredi93 commented on #194
@simukappu i can confirm the deprecated messages are gone when using the patch 🙇

[2020-02-20 09:28] simukappu commented on #194
Released as v3.2.1. Thank you!
https://rubygems.org/gems/fluent-plugin-kinesis/versions/3.2.1

[2020-02-20 09:28] #194 closed

[2020-03-02 19:33] mostfunkyduck opened #196 "Problems outputting to kinesis firehose"
I have a few problems with the firehose plugin's compression that I was hoping y'all could shed some light on.  My use case is that I'm tailing a file of json data, batching events, then pushing them to s3 via firehose.

1. With the default settings, each compressed stream is newline delimited in the resulting s3 bucket.  The problem is that when I compress strings such as `{"a":1}`, the resulting

[2020-03-19 12:08] benkap commented on #150
I think that as to monitor fluentd, the back-off or partial success are less important metrics. While you can count the back-off as a retry event I think it may increase the metric and generate false positive.

The metric that I'm sure will be always helpful is "count of records failed" either by max attempt reached or other (network/permissions etc). I don't think that output the error to log (wh

[2020-04-05 05:14] rverma-jm opened #198 "Detect and throw throtlling and other firehose exceptions."
Putting json format records to kinesis, it runs for some time and then start producing warning for retry.
No idea what's going wrong behind the scene.

[code]

Also wondering can we do firehose put directly with aggregated records

[2020-04-09 08:49] simukappu commented on #193
Reopened for feature request like aggregatedRecordSizeBytes configuration in Kinesis Agent.
https://docs.aws.amazon.com/firehose/latest/dev/writing-with-agents.html#agent-config-settings

[2020-04-09 09:04] simukappu commented on #196
Thank you for your feedback. Let me confirm my understanding.
When we turn on 'append_new_line',
* [current behavior] the gem compress each record and append '¥n' to compressed record
* [expected behavior] the gem firstly append '¥n' to original record and compress it

[2020-04-09 09:43] simukappu commented on #198
1.

This warning message means that PutRecords API of Kinesis Data Streams or PutRecordBatch API of Kinesis Data Firehose returned failed records because of some kind of error, such as ProvisionedThroughputExceeded.

Gem code: https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/d5d7c693c4720b1e8f5bcea3cdc07371a64ef1ff/lib/fluent/plugin/kinesis_helper/api.rb#L89-L109

Kinesis API reference:
h

[2020-04-20 09:21] mostfunkyduck commented on #196
I'm seeing a '¥n' where I'd expect to see '\n' in your response, otherwise this is most of the issue.  The other part is that there needs to be some kind of delimiter between the zlib strings, zlib doesn't automatically concatenate.  Maybe switch to gzip, which does, and be done with it?

[2020-05-18 08:22] simukappu commented on #198
Closing this issue for now. Please reopen if required.

[2020-05-18 08:22] #198 closed

[2020-05-18 22:17] anikoy opened #200 "google-protobuf recent release 3.12.0 is breaking fluent-plugin-kinesis"
The latest release is dependent on Ruby 2.5 version.

==========
ERROR:  Error installing fluent-plugin-kinesis:
 ==>  google-protobuf requires Ruby version < 2.8.dev, >= 2.5.
==========

[2020-05-19 11:45] migimigi commented on #200
I'm using a combination of version 3.1.1 of td-agent and version 2.1.0 of fluent-plugin-kinesis, and I got the same error message.

[2020-05-19 12:30] migimigi commented on #200
I tried the workaround in the comments and it installed successfully, thanks.
https://github.com/awslabs/aws-fluent-plugin-kinesis/pull/199#issuecomment-629967114

According to changelog, it is resolved in version 3.2.2.
https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/master/CHANGELOG.md

Is it my understanding that this error occurs in all environments unless you apply a workaround or u

[2020-05-19 15:45] anikoy commented on #200
Awesome! version 3.2.2 solves the problem.

[2020-05-19 15:45] #200 closed

[2020-06-02 21:34] Shravankumark opened #201 "Record size limit exceeded in 1883 KB"
Hi,

I am running into an issue with kinesis firehose plugin when there is large amount of log data.
I know there is a limitation of 1MB on firehose side.
Can you please help me in resolving the issue?

Config
<match **>
  @type kinesis_firehose
    aws_key_id
    aws_sec_key              delivery_stream_name prod_firehose
    region               us-east-1
    <buffer>
      flush_thread_count 2

[2020-06-11 13:43] akash0710 opened #202 "Gem dependency issue latest aws kinesis/core gems."
We are using plugin version 3.2.1 but issue will occur in the latest version also.
new gems were released on June 10, 2020  from aws for aws kinesis and aws core

https://rubygems.org/gems/aws-sdk-kinesis/versions/1.0.0.rc1
https://rubygems.org/gems/aws-sdk-core/versions/3.0.0.rc1

https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/v3.2.1/fluent-plugin-kinesis.gemspec

Below is the error st

[2020-06-25 00:41] clcpolevaulter opened #203 "Add placeholder support for the stream name with kinesis_firehose (too)"
https://github.com/awslabs/aws-fluent-plugin-kinesis/pull/174 added support for placeholders to `kinesis_streams` and `kinesis_streams_aggregated` types. It would be nice to see support added for `kinesis_firehose` type as well.

[2020-07-09 02:50] yteraoka commented on #133
Is there anyone who can maintain [fluent/fluentd-kubernetes-daemonset](https://github.com/fluent/fluentd-kubernetes-daemonset) repository?

https://github.com/fluent/fluentd-kubernetes-daemonset/blob/master/docker-image/v1.11/debian-kinesis/Dockerfile

https://github.com/fluent/fluentd-kubernetes-daemonset/blob/afa071c2c1ceb0a596e96885621e0a046d4f5915/docker-image/v1.11/debian-kinesis/Gemfile#L16

[2020-07-15 06:39] #203 closed

[2020-07-15 08:01] simukappu commented on #202
Hi,
Thank you for your reporting. We've just released the latest v3.2.3 plugin here.
https://rubygems.org/gems/fluent-plugin-kinesis/versions/3.2.3

We've tested this gem with the latest td-agent 3.8.0 and the latest Fluentd 1.11.1 dependency like this.
https://travis-ci.org/github/awslabs/aws-fluent-plugin-kinesis
https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/master/.travis.yml

Which

[2020-07-15 11:39] akash0710 commented on #202
This issue got resolved as aws updated the gems which solved the dependency between aws-sdk-kinesis and aws-sdk-core.

[2020-07-17 09:16] simukappu commented on #202
Thank you! Closing this issue.

[2020-07-17 09:16] #202 closed

[2020-07-22 14:29] shkolar-sisense opened #205 "Can't use process_credentials without supplying aws_key_id and aws_sec_key"
Hello,

I don't want to supply key_id and sec_key because it's a security breach for me.
Trying to use the process_credentials feature.
If I use it when supplying key_id and sec_key - it works.
Without them it won't work, the error is:
"Aws::Errors::MissingCredentialsError error="unable to sign request without credentials set".

Now, I can see the response of the process_credentials contains id an

[2020-07-23 15:13] #205 closed

[2020-08-24 07:57] auziel commented on #51
@riywo Does the following is a valid URL:

@type kinesis_streams
http_proxy http://user:pass@host_or_ip:port

can it be that a # sign in the password string will be problematic?

[2020-10-08 06:08] haidah01 opened #206 "Ruby 2.7 incompatibility"
Hi,

We're running fluentd in K8s, we've recently built fluentd 1.11.2 image with Ruby 2.7 parent image.
When running this image with the exact same configuration we've had prior the upgrade fluentd process was restarted and eventually the container was restarted.
The only immediate fix was to disable Kinesis plugin.
The issue was resolved by building the image with Ruby 2.6 parent image, but, 2.7

[2020-10-10 12:37] johndpknt opened #207 ""divided by 0" location="/opt/td-agent/lib/ruby/gems/2.7.0/gems/fluentd-1.11.2/lib/fluent/plugin/output.rb"
Hey Team,

 am tryng to create a conf to tail from a json file and put date to kinesis stream.
Please find the below configurations.

[code]

[code]

But getting the error 2020-10-10 05:28:21 -0700 [warn]: #0 emit transaction failed: error_class=ZeroDivisionError error="divided by 0" location="/opt/td-agent/lib/ruby/gems/2.7.0/gems/fluentd-1.11.2/lib/fluent/plugin/output.rb:1289:in `%'" tag="kines

[2020-10-16 09:18] cosmo0920 opened #209 "Handle IRSA credentials on kinesis plugins"
Currently, fluent-plugin-kinesis does not handle IRSA credentials.
We want to use IRSA mechanism to handle AWS credentials information on EKS cluster.

[2020-10-20 06:20] cosmo0920 commented on #206
google-protobuf supported Ruby 2.7 on 3.13.0:
https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/master/fluent-plugin-kinesis.gemspec#L58
I have no idea why this plugin does not permit google-protobuf 3.13.0.

[2020-10-20 12:53] simukappu commented on #206
Thank you for your feedback. We've made this plugin v3.2.2 more strict gem pinning to deal with google-protobuf requiring Ruby 2.5+. See #199 for more details. I understand the issue but we have to remove Ruby 2.4 support to permit google-protobuf 3.13.0. We would appreciate any feedback.
Thanks!

[2020-10-20 12:59] simukappu commented on #153
Request for new output plugin.

[2020-10-20 13:03] simukappu commented on #196
Does anyone have the same problem?

[2020-10-21 14:16] haidah01 commented on #206
Hi,

Thanks for replying!
Are there plans to remove Ruby 2.4 support?

-Hai

[2020-10-21 14:52] mindw commented on #206
It would seem Ruby 2.4 is no longer supported:
https://www.ruby-lang.org/en/news/2020/04/05/support-of-ruby-2-4-has-ended/

[2020-10-21 15:02] cosmo0920 commented on #206
Our new td-agent package which is td-agent version 4 uses Ruby 2.7 not Ruby 2.4.
And td-agent 3 which uses Ruby 2.4 is now maintenance mode

[2020-10-31 04:50] cosmo0920 commented on #206
Ah, please wait to drop Ruby 2.4 support.
One of the [our Fluentd support service](https://www.clear-code.com/services/fluentd.html) customer wants to use https://github.com/awslabs/aws-fluent-plugin-kinesis/pull/208 on td-agent 3 series (which runs on Ruby 2.4).

[2020-10-31 07:53] simukappu commented on #201
Closing this issue for now. Please reopen if required.

[2020-10-31 07:53] #201 closed

[2020-10-31 08:23] simukappu commented on #207
You did not set *flush_thread_count* parameter in your config. Set any value like this:

[code]

See [Performance Turning - Use flush_thread_count Parameter](https://docs.fluentd.org/deployment/performance-tuning-single-process#use-flush_thread_count-parameter) for more details.

In fluentd-1.11.2/lib/fluent/plugin/output.rb:1289, Fluentd devide the value by *flush_thread_count*.
https://github.co

[2020-11-01 07:57] simukappu commented on #150
We will add *raise_error_on_batch_request_failure* configuration to [Fluent::Plugin::KinesisHelper::API#give_up_retries](https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/master/lib/fluent/plugin/kinesis_helper/api.rb#L159-L167) method. This configuration enables you to choose give up records (current behavior) or raise error and return chunk to Fluentd for retrying (new behavior, may dupl

[2020-11-01 07:59] simukappu commented on #150
We will add *raise_error_on_batch_request_failure* configuration to [Fluent::Plugin::KinesisHelper::API#give_up_retries](https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/master/lib/fluent/plugin/kinesis_helper/api.rb#L159-L167) method. This configuration enables you to choose give up records (current behavior) or raise error and return chunk to Fluentd for retrying (new behavior, may dupl

[2020-11-02 10:00] simukappu commented on #206
I found that *google-protobuf* v3.12.1+ supports Ruby 2.3+. Only v3.12.0 requires Ruby 2.5+.
https://rubygems.org/gems/google-protobuf/versions/3.12.0-universal-darwin
https://rubygems.org/gems/google-protobuf/versions/3.12.1-universal-darwin

The latest v4.0.0.rc2 also supports Ruby 2.3+
https://rubygems.org/gems/google-protobuf/versions/4.0.0.rc.2-universal-darwin

Therefore, we will remove *goo

[2020-11-02 15:03] simukappu commented on #209
We've just published as v3.3.0.
https://rubygems.org/gems/fluent-plugin-kinesis/versions/3.3.0

Thank you for your contribution!

[2020-11-02 15:03] #209 closed

[2020-11-02 15:06] simukappu commented on #206
We've just published as v3.3.0.
https://rubygems.org/gems/fluent-plugin-kinesis/versions/3.3.0

@haidah01
The new v3.3.0 passes the test with Ruby 2.7. Can you try this plugin with fluentd 1.11.2 image with Ruby 2.7 again?

[2020-11-02 15:07] simukappu commented on #207
Closing this issue for now. Please reopen if required.

[2020-11-02 15:07] #207 closed

[2020-11-03 10:22] haidah01 commented on #206
I can confirm that it works with `Ruby 2.7` and `fluentd 1.11.4`.
Thanks! 👍

[2020-11-03 10:49] simukappu commented on #206
Great👍 Closing this issue.
Thank you!

[2020-11-03 10:49] #206 closed

[2020-11-09 10:24] pradeepbhadani opened #210 "Record size limit exceeded in 1586 KB"
I am using `kinesis_streams` plugin and sending data from a file to Kinesis.
From AWS doc, I can see that there is a 1MB limit per record. But is there a better way to handle these error - like filter out these records when bigger than 1MB, etc?

**Config**
[code]

**Error**
[code]

[2020-11-24 09:48] mmerickel commented on #193
I'd really like to see aggregated record support for firehose. The 5kb rounding for log messages causes a real waste in the common case and aggregated records could drop costs significantly.

[2020-11-28 02:21] simukappu commented on #150
Hi @benkap, @wryun, @cynipe, @adammw

Thank you for your feedback! I've added #211 pull request including feature enhancement to monitor batch request failure and retries. Could you review this?

[2020-12-09 14:50] avallecillac commented on #153
+1 Any updates on this request?

[2020-12-11 08:48] phucnh opened #212 "Plan to support AWS Glue Schema Registry integration"
I'm using aws-fluent-plugin-kinesis on production to send our csv log to Kinesis Data Streams. I would like to change the log format to a more efficient format like avro. However, AWS Glue Schema Registry integration isn't supported yet. Manually manage avro schema on both producer and consumer side will increase system operating cost.

I understand AWS Glue Schema and Kinesis Producer Library int

[2020-12-22 13:22] singhajit89 commented on #210
I am facing similar issue and haven't found any solution yet.

Found another link with same issue which was closed with no resolution
https://github.com/awslabs/aws-fluent-plugin-kinesis/issues/201

[2020-12-22 13:24] singhajit89 commented on #201
No solution/work around found for this issue yet.

[2020-12-23 13:53] simukappu commented on #210
Hi @pradeepbhadani, @singhajit89

Thank you for your feedback!
Do you have any enhancement requests for this plugin? The maximum size of the record payload, up to 1 MB is a [limit of Kinesis Data Streams](https://docs.aws.amazon.com/streams/latest/dev/service-sizes-and-limits.html). Even if this plugin could split records longer than 1MB, the consumer of Kinesis Data Streams would get those partia

[2020-12-29 07:41] singhajit89 commented on #210
Hi @simukappu,

I haven't raise enhancement request yet for this plugin but will definitely raise based on feedback on recommended work around/solution below.

I am using this plugin to send the record to [Kinesis Firehose which has exactly same 1 MB limitation](https://docs.aws.amazon.com/firehose/latest/dev/limits.html) and exception in td-agent.log file when record size limit exceeded similar t

[2021-01-04 10:05] simukappu commented on #201
Discussing in #210.

[2021-01-04 10:19] simukappu commented on #210
Hi @singhajit89,

Thank you for the details. I understand what the critical issue is.
We will consider to enhance this plugin to handle [ExceedMaxRecordSizeError](https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/master/lib/fluent/plugin/kinesis.rb#L47-L50) without printing contents of the records. The cause of this issue seems to be [here](https://github.com/awslabs/aws-fluent-plugin-kine

[2021-01-04 10:20] simukappu commented on #210
Hi @singhajit89,

Thank you for the details. I understood what the critical issue is.
We will consider to enhance this plugin to handle [ExceedMaxRecordSizeError](https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/master/lib/fluent/plugin/kinesis.rb#L47-L51) without printing contents of the records. The cause of this issue seems to be [here](https://github.com/awslabs/aws-fluent-plugin-kine

[2021-01-05 02:32] simukappu commented on #210
Hi @singhajit89,

Does [log_truncate_max_size](https://github.com/awslabs/aws-fluent-plugin-kinesis#log_truncate_max_size) configuration parameter become a solution for your issue? When you set this parameter, [error log printed by "SkipRecordError"](https://github.com/awslabs/aws-fluent-plugin-kinesis/blob/master/lib/fluent/plugin/kinesis.rb#L137) including "ExceedMaxRecordSizeError" will be trun

[2021-01-08 11:20] singhajit89 commented on #210
Hi @simukappu,

I had already tried using the above configuration log_truncate_max_size a month back but that didn't worked for me.

But recently I made a change in kinesis.rb file which **now working as expected**. For the record greater than 1MB its now only printing the exception name & size and skipping to print the record_message content in td-agent.log file which is helping to keep the file

[2021-01-16 02:06] simukappu commented on #196
Closing this issue for now. Please reopen if required.

[2021-01-16 02:06] #196 closed

[2021-01-21 14:42] singhajit89 commented on #210
Hi @simukappu,

How can I get the above changes committed in actual repo or what is the procedure to do it ?

[2021-02-02 09:14] yang-wei commented on #167
facing the same issue too with https://docs.fluentd.org/output#secondary-output

[2021-02-16 00:33] ravinaik1312 commented on #137
@qinqin-wang @mostfunkyduck Make sure the `td-agent` process has the permission to read your credentials file. The error handling could improve, but it needs to bubble up at the `aws-ruby-sdk` which this plugin is using.

[2021-03-07 06:50] simukappu commented on #150
We've just published this monitoring feature as [v3.4.0.rc1](https://rubygems.org/gems/fluent-plugin-kinesis/versions/3.4.0.rc1). We will collect a little more feedback from RC release, and will release as main stream version.
If you could try v3.4.0.rc1 and give us any feedback, we would appreciate it. Thank you!

[2021-04-18 07:53] simukappu commented on #150
We published [v3.4.0.rc2](https://rubygems.org/gems/fluent-plugin-kinesis/versions/3.4.0.rc2). We will collect a little more feedback from RC release, and will release as main stream version.
If you could try v3.4.0.rc2 and give us any feedback, we would appreciate it. Thank you!

[2021-04-30 03:08] leejh3224 commented on #205
If you're running Fluentd on ECS, then you need to add `kinesis:putRecords` into `task role`.
And if it doesn't resolve your issue, upgrading Fluentd from v3.7 to v4.1 resolved the issue.
Old Fluentd is depending on older version of AWS SDK and it may not fetch credentials correctly.
(In case you're using ECS container)

[2021-05-03 12:54] simukappu commented on #150
We just published [v3.4.0](https://rubygems.org/gems/fluent-plugin-kinesis/versions/3.4.0) including this monitoring feature. Thank you!

[2021-05-03 12:54] #150 closed

[2021-09-24 15:51] kingsleykumar opened #213 "Windows support"
Hi team, Can this be configurable to run as containers on widows servers?

Thanks.

[2021-11-07 09:27] mindw opened #216 "3.4.1 tag missing?"

[2021-11-07 13:41] simukappu commented on #216
We've pushed v3.4.1 tag and sync this repository. Closing this issue. Thank you for your feedback!

[2021-11-07 13:41] #216 closed

[2021-11-07 13:47] simukappu commented on #213
Yes, you can run as Docker container on windows using Fluentd Docker image. It is not a matter of this plugin, but a matter of Fluentd installation.
Closing this issue for now. Please reopen if required.

[2021-11-07 13:47] #213 closed

[2021-12-24 12:36] wltbenade opened #217 "When using shared_credentials, plugin does not seem to honor session token expiry"
Hi guys,

We've encountered an issue when configuring the plugin with rotating credentials via shared_credentials. Regardless of the duration of the session token, once it has rotated in the credentials file, the plugin does not seem to read the new configuration.

It should be noted that delivery works as expected whilst the session token is valid.
Plugin version:
[code]

Plugin config:
[code]

$

[2021-12-31 02:05] simukappu commented on #210
If we remove *@record_message* from *to_s* method, there will be no way to know the content of error record from standard logs. We are providing *log_truncate_max_size* parameter to shorten log size. We would appreciate it if you could feedback why *log_truncate_max_size* parameter does not work for you and why you would like to remove *@record_message* from standard log format. Thank you for your

[2021-12-31 03:43] simukappu commented on #217
Hi @wltbenade, thank you for your feedback.

This plugin uses AWS SDK for Ruby v3 as it is. AWS SDK for Ruby credential providers (including assume role credentials) already provide [refreshable credentials](https://github.com/aws/aws-sdk-ruby/blob/master/gems/aws-sdk-core/lib/aws-sdk-core/refreshing_credentials.rb), which are intended for auto-refresh when expired. Please see this [related issue]

[2022-01-03 08:43] wltbenade commented on #217
Hi @simukappu,

Happy New Year to you and the team!

Thanks for the suggestions! Just to be clear on your recommendation:

1. The ErrorInspector class in error_inspector.rb should be expanded to include ExpiredTokenException, as well as ExpiredToken.
2. A proper result from the ErrorInspector class in error_inspector.rb will result in the plugin reloading the credentials from disk again?

Another

[2022-01-11 07:56] wltbenade commented on #217
Hi @simukappu,

Any update on my question above?

Cheers

[2022-01-28 08:35] simukappu commented on #217
Hi @wltbenade

Sorry for my late reply. Thank you for your enhancement request to AWS SDK for Ruby. Could you check if this issue would be resolved with this plugin? You have to use the latest AWS SDK for Ruby, not included version in td-agent.

[2022-01-28 08:43] simukappu commented on #210
Closing this issue for now. Please reopen if required.

[2022-01-28 08:43] #210 closed

[2022-01-31 02:33] phoebe-canva commented on #153
Hello! I am also quite interested in this, has there been any updates or a thread continuing this discussion?

[2022-02-22 09:41] divbasson2 commented on #217
Hi, any feedback on the comment posted by @wltbenade above?

[2022-02-28 08:02] vishalmamidi commented on #58
fluent/fluent-plugin-opensearch#24

[2022-03-22 07:46] ofekhub88 opened #218 "Encryption in transit"
With this plugin .
IS the data encrypted between on premise aggregator and   AWS kinesis ?

[2022-03-23 14:46] simukappu commented on #218
Yes, it is encrypted in transit. All Amazon Kinesis API including PutRecords are provided as HTTPS. This fluentd plugin is using AWS SDK for Ruby and AWS SDK internally calls Amazon Kinesis API.

[2022-05-12 11:25] da-head0 opened #220 "cannot load such file -- aws-sdk-core path="aws-sdk-core" error_class=LoadError error="cannot load such file -- aws-sdk-core"
Hello,

when I install fluentd with git clone and bundle, and install `fluent-plugin-kinesis` with same method (using git clone & bundle),
this error shows up.

2022-05-12 11:20:07 +0000 [info]: parsing config file is succeeded path="./fluent/fluentd_blackhole.conf"
2022-05-12 11:20:07 +0000 [info]: starting fluentd-1.14.6 without supervision pid=1875 ruby="2.7.2"
2022-05-12 11:20:07 +0000 [info]:

[2022-05-12 11:39] da-head0 commented on #220
I found out. when I cd to other path than `/path-to-that-I-git-clone-fluentd` and command `/usr/local/rvm/gems/ruby-2.7.2/bin/fluentd -c /path-to/fluentd.conf`, it works like a charm.

[2022-06-08 01:33] da-head0 opened #221 "always 1 log are lost when using this plugin"
Hi. I tested this plugin with fluentd in docker container & EC2 instance(os: amazonlinux2)
and found out there's always 1 log are lost.

my config
[code]

I tested with this script, which produce specific amount of logs in each second,
[code]
or copy of existed logs.

both way always 1 log are lost from total count, in each file.

I wonder why this is happening.

Thanks.